.b-menu li a{
  text-transform: uppercase;
}
.disabled .corner{
  background: url(../img/grey_corner.png) no-repeat;
}
.error_block{
  position: absolute;
  top: 35px;
  color: red;
}
.form-title span em{
  font-style: normal
}
.edit,
.del,
.cancel,
.clone {
    float: left;
    background-image: url('../img/actions.png');
    background-repeat: no-repeat;
    text-decoration: none;
    margin-right: 10px;
    width: 26px;
}
.clone{
  height: 23px;
  background-position: 0 -64px;
}
.edit {
    height: 23px;
    background-position: 0 -41px;
    
}
.del {
    height: 23px;
    background-position: 0 0;
    position: relative;
}
.cancel {
    height: 23px;
    top: 0;
    position: relative;
    background-position: 0 -27px;
    left: 21px;
}
.user_files_edit a{
  font-size: 12px;
  color: #646566;
  text-decoration: underline;
}
.user_files_edit a:hover{
  text-decoration: none;
}

.jobs-table a{
  font-size: 14px;
  color: #646566;
  text-decoration: underline;
}

.jobs-table a:hover{
  text-decoration: none;
}

.popup_clone {
    position: absolute;
    width: 470px;
    background: #fff;
    top: 50%;
    left: 50%;
    margin: -150px auto auto -135px;
    border: 1px solid #1e201f;
} 
.pclone_body {
    padding: 25px 20px;
    position: relative;
}
.pc_head {
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 35px;
}
.changeme {
    color: #000;
}
.chsel {
    padding-bottom: 15px;
    padding-top: 3px;
}
.cls {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.clone_result {
    padding-bottom: 20px;
    font-size: 14px;
}
.cl_name {
    color: #000000;
    padding-bottom: 3px;
}
.cl_val {
    color: #666666;
    font-size: 13px;
}
/*.b-header-cont {*/
	/*min-width: 1010px;*/
/*}*/
.b-col .b-date .date{
  font-size: 89px;
}
.b-col.second .date {
 font-size: 89px;
 top: 47px;
}

.jobs-box a{
  color: #646566;
  text-decoration: underline; 
  font-family: 'helveticaneuecyrbold';
  font-size: 14px;
}
.jobs-box a:hover{
  color: #ffc90a;
}
@media (max-width: 768px) {
    .b-col .b-date .date {
        font-size: 50px;
        text-align: center;
    }
}