* {
  margin: 0;
  padding: 0;
}
html {height: 100%;}
body {
  background: #fff url(../img/kakadu_awards_bg_yellow.png) no-repeat center 5px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #000;
  font-family: 'helveticaneuecyrroman';
}
*{
  box-sizing: border-box;
    -webkit-appearance: none;
}
@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
  src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
       url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrblack';
  src: url('../fonts/helveticaneuecyr-black-webfont.eot');
  src: url('../fonts/helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff'),
       url('../fonts/helveticaneuecyr-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
  src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
       url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrheavy';
    src: url('../fonts/helveticaneuecyr-heavy-webfont.eot');
    src: url('../fonts/helveticaneuecyr-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-heavy-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
a{
  text-decoration: none;
}
a img, :link img, :visited img {
  border: 0 none;
}
ol, ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
table{
  border: 0 none;
  border-collapse: collapse;
}
header{
  width: 100%;
  position: relative;
}
.b-header-cont{
  height: 491px;
  border-top: 12px solid #fff;
  border-left: 12px solid #fff;
  border-right: 12px solid #fff;
}
h1{
  font-family: 'helveticaneuecyrblack';
  color: #231f20;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: normal;
}
h4,
h2{
  font-family: 'helveticaneuecyrblack';
  font-size: 18px;
  text-transform: uppercase;
  color: #231f20;
  font-weight: normal;
  letter-spacing: 1px;
}
h5{
  font-size: 14px;
  color: #646566;
  font-family: 'helveticaneuecyrblack';
  text-transform: uppercase;
  font-weight: normal;
}
.wrapper{
  max-width: 987px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /*z-index: 3;*/
}
.clear{
  clear: both;
}
.logo{
  float: left;
  position: relative;
  z-index: 100;
}
.logo .logoBig{
  display: block;
  background: url(../img/logo.png) no-repeat;
  width: 161px;
  height: 172px;
}
.logoSmall {
  display: none;
}
.menu{
  float: left;
  margin: 35px 0 0 35px;
}
.menu ul{
  float: left;
}
.menu ul.login{
  margin-left: 15px;
}
.menu ul.login li{
  float: left;
}
.menu ul li{
  float: left;
  margin-left: 19px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  font-family: 'helveticaneuecyrbold';
  font-size: 14px;
  color: #231f20;
  letter-spacing: 1px;
}
.menu ul li a:hover, .menu ul li.active a{
  color: #fff;
}
.content{
  padding-bottom: 150px;
  min-height: 512px;
}
.b-content{
  margin-top: 150px; 
}
.b-title{
  margin-bottom: 45px;
}
/*.b-comp .b-col:first-child{*/
  /*margin-left: 0px;*/
/*}*/
.b-comp .b-col{
  float: left;
  width: 211px;
  margin: 8px;
}
.b-comp .b-col.second{
  width: 281px;
}
.b-col.second .b-date{
  width: 255px;
}
.b-col .b-date{
  position: relative;
  border: #f3f3f3 solid 13px;
  width: 185px;
  height: 256px;
  overflow: hidden;
}
.b-col .b-date .date{
  font-size: 100px;
  color: #231f20;
  line-height: 72px;
  font-family: 'helveticaneuecyrblack';
  position: absolute;
  width: 260px;
  left: auto;
  margin-left: 25px;
  top: 45px;
}
/*.b-col.second .date{*/
  /*font-size: 48px;*/
  /*top: 63px;*/
/*}*/

.b-col .b-date .month{
  font-family: 'helveticaneuecyrlight';
  font-size: 36px;
  line-height: 76px;
  color: #919191;
  margin-left: 25px;
  margin-top: 100px;
}
.b-col.last a{
  display: block;
  border: #ffc90a solid 13px;
  width: 205px;
  text-align: center;
}
.b-col.last a:hover{
  background: #ffc90a;
}
.b-col.last a span{
  display: block;
}
.b-col.last a span.col-icon{
  margin-top: 35px;
}
.b-col.last a span.col-text{
  font-size: 24px;
  font-family: 'helveticaneuecyrblack';
  color: #231f20;
  width: 150px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 30px auto 0;
}
.cut-white{
  position: absolute;
  background: url(../img/cut-white.png) no-repeat;
  width: 66px;
  height: 34px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
.corner-col{
  background: url(../img/corner-col.png) no-repeat;
  position: absolute;
  width: 70px;
  height: 42px;
  bottom: 0px;
  right: 0px;
}
.cut-white.corner{
  background: url(../img/corner_2.jpg) no-repeat;
}
.b-comp .b-col.last{
  position: relative;
  width: 231px;
  font-family: 'helveticaneuecyrroman';
  font-size: 12px;
  color: #646566;
  line-height: 18px;
  margin-left: 18px;
}
.b-comp .b-col.last span{
  font-family: 'helveticaneuecyrbold'; 
  letter-spacing: 1px;
}
.b-des-comp{
  font-family: 'helveticaneuecyrblack';
  font-size: 14px;
  color: #646566;
  text-transform: uppercase;
  margin: 5px 30px 0 30px;
  letter-spacing: 1px;
}
.b-des-comp.disabled{
  color: #e3e3e3; 
}
.b-contact{
  margin-top: 120px;
}
.b-contact .b-col{
  float: left;
}
.b-contact .b-col.first{
  width: 670px;
}
.b-contact .b-col.last{
  width: 205px;
  margin-left: 75px;
}
.b-committee .col{
  float: left;
  width: 315px;
}
/*.b-committee .col:first-child{*/
  /*margin-left: 0px;*/
/*}*/
.b-committee .col div{
  font-size: 12px;
  color: #646566;
  margin-top: 15px;
}
.b-committee .col div:first-child{
  margin-top: 0px;
}
.b-committee .col div span{
  font-family: 'helveticaneuecyrbold';
  font-size: 14px;
}
.b-committee .col div a{
  color: #646566;
  text-decoration: underline; 
}
.b-committee .col div a:hover{
  color: #ffc90a;
}
.b-address-des div{
  font-size: 12px;
  color: #646566;
  padding-top: 2px;
}
.tel-numb{
  margin-top: 17px;
}
.tel-numb .left{
  float: left;
  font-family: 'helveticaneuecyrbold';
  font-size: 14px;
  width: 90px;
}
.tel-numb .right{
  float: left;
  width: 110px;
}
.tel-numb .b-tel{
  font-family: 'helveticaneuecyrroman';
  font-size: 12px;
  line-height: 18px;
}
.b-partners{
  margin-top: 120px;
}
.gallery-partners li{
  text-align: center;
  height: 120px;
  line-height: 120px;
}
.gallery-partners li a{
  display: block;
}
.gallery-partners li img{
  display: inline-block;
  vertical-align: middle;
}
.gallery-partners .bx-wrapper .bx-controls-direction a {
  width: 38px;
  height: 120px;
}
.gallery-partners .bx-wrapper .bx-prev {
  left: -15px;
  background: url(../img/controls.png) no-repeat 0 -10px;
}
.gallery-partners .bx-wrapper .bx-next {
  right: -30px;
  background: url(../img/controls.png) no-repeat -50px -10px;
}
.gallery-partners .bx-wrapper .bx-prev:hover {
  background-position: 0px -188px;
}
.gallery-partners .bx-wrapper .bx-next:hover {
  background-position: -50px -188px;
}
/* footer */
footer{
  position: relative;
  width: 100%;
  /*height: 43px;*/
}
.footer-bottom{
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0px;
  background: #ffc90a;
}
.logo-bottom{
  float: left;
  width: 72px;
  position: relative;
  bottom: -1px;
  z-index: 2;
}
.logo-bottom a{
  display: block;
  background: url(../img/logo-bottom.png) no-repeat;
  width: 72px;
  height: 42px;
}
.copy-w{
  float: left;
  font-size: 10px;
  color: #c0c0c0;
  margin: 15px 0 0 10px;
  letter-spacing: 1px;
}
.develop{
  float: right;
  color: #c0c0c0;
  font-size: 10px;
  margin-top: 15px;
  letter-spacing: 1px;
    display: flex;
}
.develop a{
  color: #c0c0c0;
  text-decoration: underline;
}
.develop a:hover{
  text-decoration: none;
}
.header-gallery{
  position: relative;
  top: -60px;
  left: 20px;
  width: 100%;
}
.header-gallery .slider{
  position: relative;
  /*width: 579px;*/
  float: left;
}
.header-slider li a{
  display: block;
}
.angle{
  background: url(../img/angle.png) no-repeat;
  position: absolute;
  bottom: -37px;
  right: 44.3%;
  width: 206px;
  height: 104px;
}
.header-gallery .slider {
  position: relative !important;
}
.slider .bx-wrapper .bx-pager-item a {
  background: url(../img/pagers.png) no-repeat 0px 0px !important;
  width: 13px !important;
  height: 13px !important;
  border-radius: 0 !important;
}
.slider .bx-wrapper .bx-pager.bx-default-pager a:hover{
  background-position: -13px 0 !important;
}
.slider .bx-wrapper .bx-pager.bx-default-pager a.active{
  background-position: -26px 0 !important;
}
.slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute !important;
  bottom: -1px !important;
  right: 240px !important;
  width: 150px !important;
}

.participate{
  display: inline-block;
  border: 4px #fff solid;
  font-family: 'helveticaneuecyrblack';
  font-size: 18px;
  color: #231f20;
  text-transform: uppercase;
  padding: 8px 15px;
  margin-top: 30px;
}
.participate:hover{
  background: #fff;
}
.text-slider span.first{
  display: block;
  float: left;
  font-family: 'helveticaneuecyrblack';
  font-size: 87px;
  line-height: 97px;
}
.text-slider span.second{
  float: left;
  font-family: 'helveticaneuecyrheavy';
  font-size: 48px;
  line-height: 48px;
}
.text-slider span.second span{
  display: block;
  font-size: 60px;
  line-height: 45px;
}
.text-slider span.last{
  font-family: 'helveticaneuecyrheavy';
  font-size: 87px;
  line-height: 75px;
  float: left;
}
.text-slider span.first.s2{
  text-transform: uppercase;
  font-size: 92px;
}
.text-slider span.second.s2{
  font-size: 60px;
  line-height: 60px;
}
.text-slider span.second.s2 span{
  display: inline-block;
  line-height: normal;
  vertical-align: -30px;
}
.text-slider span.last.s2{
  text-transform: uppercase;
  font-size: 90px;
}
.text-slider span.first.s3{
  text-transform: uppercase;
  font-size: 45px;
  line-height: 65px;
}
.text-slider span.second.s3{
  font-size: 60px;
  line-height: 60px;
}
.text-slider span.last.s3{
  text-transform: uppercase;
  font-size: 60px;
  color: #ffffff;
  font-family: 'helveticaneuecyrlight';
}

.hidden-text{
  display: none;
}
/* internal page*/
body.internal{
  background: #fff;
}
body.internal header{
  height: 184px;
}
body.internal .b-header-cont{
  height: 112px;
  background: #ffc90a;
}
/*body.internal .logo a{*/
  /*display: block;*/
  /*background: url(../img/logo-internal.png) no-repeat;*/
  /*width: 161px;*/
  /*height: 172px;*/
/*}*/
body.internal .b-content{
  margin-top: 0px;
  margin-left: 200px;
}
body.internal .winner-content .b-content {
    margin-left: auto;
}
body.internal .menu{
  margin-top: 40px;
}
.b-terms-col .b-col{
  float: left;
  width: 200px;
  margin-left: 35px;
}
.b-terms-col .b-col:first-child{
  margin-left: 0px;
}
.b-title.internal-page{
  margin-bottom: 25px;
}
.b-terms-text{
  width: 630px;
  color: #646566;
  font-size: 13px;
  line-height: 16px;
  margin-top: 30px;
}
.b-terms-text p span{
  font-family: 'helveticaneuecyrbold';
  color: #231f20;
}
.b-share{
  margin-top: 45px;
}
.b-share-col .share-col{
  float: left;
  display: block;
  margin-left: 35px;
}
.b-share-col .share-col .item-col{
  display: block;
  width: 174px;
  height: 176px;
  line-height: 174px;
  border: #e3e3e3 solid 13px;
  text-align: center;
  position: relative;
}
.b-share-col .share-col:first-child{
  margin-left: 0px;
}
.b-share-col .share-col.yl .item-col{
  border: #ffc90a solid 13px;
}
.b-share-col .share-col.yl:hover .item-col{
  background: #ffc90a;
}
.share-angle.yl{
  display: block;
  background: url(../img/share-angle-y.png) no-repeat;
  width: 69px;
  height: 42px;
  position: absolute;
  bottom: -13px;
  right: -13px;
  z-index: 10;
}
.share-angle.gr{
  display: block;
  background: url(../img/share-angle-g.png) no-repeat;
  width: 69px;
  height: 42px;
  position: absolute;
  bottom: -14px;
  right: -14px;
}
.share-col .figure{
  font-size: 100px;
    line-height: 150px;
  color: #e3e3e3;
  font-family: 'helveticaneuecyrblack';
}
.share-col.yl .figure{
  color: #231f20;
}
.share-text{
  display: block;
  font-size: 14px;
  color: #646566;
  font-family: 'helveticaneuecyrblack';
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.b-share-col .share-col.yl:hover .share-text{
  color: #ffc90a;
}
.b-share-des{
  width: 605px;
  margin-top: 50px;
}
.b-share-des ul li{
  font-size: 13px;
  line-height: 15px;
  color: #646566;
  margin-bottom: 30px;
  padding-left: 30px;
}
.b-share-des ul li:first-child{
  margin-bottom: 10px;
  background: none;
  padding-left: 0px;
}
.b-share-des ul li.sh1{background: url(../img/icon1.png) no-repeat left 2px;}
.b-share-des ul li.sh2{background: url(../img/icon2.png) no-repeat left 2px;}
.b-share-des ul li.sh3{background: url(../img/icon3.png) no-repeat left 2px;}
.b-share-des ul li.sh4{background: url(../img/icon4.png) no-repeat left 2px;}
.b-share-des ul li.sh5{background: url(../img/icon5.png) no-repeat left 2px; margin-bottom: 0px;}
.b-share-des ul li span{
  color: #231f20;
  font-family: 'helveticaneuecyrbold';
}
.b-notallowed{
  width: 630px;
  margin-top: 50px;
}
.b-nota-des{
  font-size: 13px;
  color: #646566;
}
.b-nota-des ul li{
  margin-top: 15px;
}
.b-nota-des ul li:first-child{
  margin-top: 0px;
}
.b-nota-des ul li span{
  display: inline-block;
  color: #231f20;
  font-family: 'helveticaneuecyrbold';
  margin-right: 5px;
}
.b-nota-des p{
  margin-top: 15px;
}
.b-nota-des p span{
  color: #231f20;
  font-family: 'helveticaneuecyrbold';
}
.konkurs-text{
  font-size: 13px;
  color: #646566;
  margin-top: 20px;
}
.b-col{
  float: left;
  width: 220px;
  margin-left: 15px;
}
.b-col:first-child{
  margin-left: 0px;
}
.b-contest .img-cont{
  text-align: center;
  line-height: 202px;
}
.b-contest .img-cont img{
  display: inline-block;
  vertical-align: middle;
}
.b-contest{
  margin-top: 50px;
}
.b-sposob{
  margin-top: 60px;
}
.b-sposob-text p{
  font-size: 12px;
  color: #646566;
  margin-top: 15px;
}
.b-sposob-text p:first-child{
  margin-top: 0px;
}
.b-sposob-text p span{
  font-family: 'helveticaneuecyrbold';
  color: #231f20;
}
/* */
.program-col:first-child{
  margin-left: 0px;
}
.item-col{
  display: block;
}
.program-col{
  float: left;
  width: 200px;
  margin-left: 30px;
}
.program-col a{
  display: block;
  position: relative;
  border: 13px #ffc90a solid;
  /*width: 174px;*/
  /*height: 176px;*/
  text-align: center;
    /*overflow: hidden;*/
}
.program-col a .img-program{
  display: block;
  line-height: 176px;
}
.program-col a .img-program img{
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
.title-konkurs{
  font-family: 'helveticaneuecyrblack';
  font-size: 14px;
  color: #646566; 
  margin: 15px 0 0;
  text-transform: uppercase;
}
.title-konkurs span{
  display: inline-block;
  color: #000000;
  margin-right: 3px;
}
.program-des{
  margin-top: 15px;
}
.program-des .requ{
  font-family: 'helveticaneuecyrbold';
  font-size: 11px;
  color: #000000;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.program-des div p{
  font-size: 12px;
  color: #646566;
  line-height: 15px;
}
.program-des div{
  margin-bottom: 15px;
}
.b-program-col{
  margin-bottom: 50px;
}
.b-program-col.bottom{
  margin-bottom: 0px;
}
.hidden-des{
  display: none;
  position: absolute; 
  background: #ffc90a;
  width: 200px;
  height: 202px;
  top: -13px;
  left: -13px;
  z-index: 1;
}
.program-col a:hover .hidden-des{
  display: block;
}
.h-text{
  display: block;
  width: 170px;
  margin: 0 auto;
  color: #231f20;
  font-size: 18px;
  font-family: 'helveticaneuecyrblack';
  padding-top: 70px;
  text-transform: uppercase;
}
.b-header-bottom{
  background: #f4f4f4;
  /*height: 60px;*/
  border-left: 12px solid #fff;
  border-right: 12px solid #fff;
}
.kabinet-menu{
  margin-left: 25%;
}
.b-header-bottom ul li{
  display: block;
  float: left;
}
.b-header-bottom ul li.active a{
  background: #fff;
  color: #231f20;
}
.b-header-bottom ul li a:hover{
  color: #231f20;
}
.b-header-bottom ul li a{
  display: block;
  font-family: 'helveticaneuecyrblack';
  color: #c6c6c6;
  font-size: 14px;
  text-transform: uppercase;
  padding: 22px 20px;
  text-align: center;
}
.kabinet-form{
  margin-top: 95px;
}
.b-form.c1{
  margin-bottom: 40px;
}
.b-form-left{
  float: left;
  width: 365px;
}
#file_linkfile_link, #file_linkfile_link .b-form-left{
  width: 100%;
}
.b-form-left .filename {
  width: 97% !important;
}
#file_linkfile_link, #file_linkfile_link .type_file{
  width: 100%;
}
.type_file .filename {
  /*width: 97% !important;*/
}

.rest-captcha {
  display: inline-block;
  vertical-align: middle;
}
.internal .b-title {
  margin-bottom: 0;
}
.internal .b-title.internal-page h4, .comment h2 {
  margin-bottom: 25px !important;
}
.internal .b-share {
  margin-top: 0;
}
.comment a {
  color: #646566;
}
#img_captcha_uid {
  display: block;
  margin-top: 10px;
  margin-bottom: -10px;
}
.b-form-right{
  float: left;
  width: 365px;
  margin-left: 50px;
}
.b-form .sbHolder{
  outline: none;
  background: #fff;
  border: #231f20 solid 2px;
  height: 36px;
  width: 353px;
}
.b-form .sbHolder.active{
  border: #ffc90a solid 2px;
}
.b-form .sbSelector{
  height: 36px;
  line-height: 36px;
}
.b-form .sbSelector{
  font-family: 'helveticaneuecyrroman';
  color: #646566;
  font-size: 18px;
  width: 316px;
}
.b-form .sbToggle{
  background: url(../img/select-icons.png);
  width: 41px;
  height: 40px;
  top: -2px;
}
.b-form .sbToggle.sbToggleOpen{
  background: url(../img/select-icons-h.png);
}
.b-form .sbOptions{
  left: -2px;
  width: 353px;
  background: #fff;
  border: #ffc90a solid 2px;
}
.b-form .sbOptions li{
  height: 36px;
  padding: 0;
  border-top: #ffc90a solid 2px;
}
.b-form .sbOptions li:first-child{
  border-top: 0px;
}
.b-form .sbOptions a{
  height: 36px;
  line-height: 36px;
  padding: 0px 0px 0px 9px;
  color: #646566;
  font-size: 18px;
  border-bottom: 0px;
}
.b-form .sbOptions a.sbFocus{
  background: #ffc90a;
  color: #231f20;
}
.b-form label{
  display: block;
  font-size: 14px;
  color: #646566;
  font-family: 'helveticaneuecyrblack';
  text-transform: uppercase;
  margin-top: 10px;
}
.b-form label.error{
  color: #ff7054;
}
.b-form input[type="text"], .b-form input[type="password"]{
  width: 340px;
  height: 36px;
  padding: 0 10px;
  border: #231f20 solid 2px;
  color: #646566;
  font-size: 18px;
  outline: none;
}
.b-form input[type="text"]:focus, .b-form input[type="password"]:focus{
  border: #ffc90a solid 2px;
}
.b-form input[type="text"].error, .b-form input[type="password"].error{
  border: #ff7054 solid 2px;
}
.kabinet-form .sep{
  width: 100%;
  height: 4px;
  background: #f4f4f4;
  margin: 0 0 40px 0;
}
.b-form h5{
  margin-bottom: 40px;
}
.b-form.c2 .b-form-right{
  width: 299px;
}
.b-form.c2 .b-form-right input[type="text"]{
  width: 274px;
}
.b-form.c2 .b-form-plus{
  float: left;
  width: 46px;
  margin-left: 20px;
}
.b-form.c2 .b-form-plus a{
  display: block;
  border: 4px solid #ffc90a;
  width: 38px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.b-form.c2 .b-form-plus a:hover{
  background: #ffc90a;
}
.b-form.c2 .b-form-plus a span{
  display: inline-block;
  background: url(../img/plus.png);
  width: 15px;
  height: 14px;
  vertical-align: middle;
}
.b-form.c2 .b-form-plus.delete a span{
  background: url(../img/delete.png);
}
.form-title{
  margin-bottom: 10px;
}
.form-title label{
  float: left;
}
.form-title span{
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #646566;
  margin-top: 10px;
}
.b-form.text textarea{
  /*width: 756px;*/
  width: 100%;
  height: 115px;
  border: #231f20 solid 2px;
  padding: 10px;
  font-size: 18px;
  color: #646566;
  resize: none;
  outline: none;
}
.b-form.text textarea:focus{
  border: #ffc90a solid 2px;
}
.b-form.file{
  position: relative;
  margin-top: 40px;
}
.b-form.file input[type="text"]{
  width: 680px;
  height: 40px;
}
.type_file {
  position: relative;
  height: 40px;
}
.inputFile {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  width: 46px;
  height: 44px;
  cursor: pointer;
}
.fonTypeFile {
  width: 43px;
  height: 41px;
  background: url(../img/button-files.png) no-repeat 0px 0px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.fonTypeFile:hover{
  background: url(../img/button-files.png) no-repeat 0px -44px;
}
.inputFileVal {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 175px;
  background: none;
  border: none;
}
.b-form.file .form-title span{
  /*margin-right: 75px;*/
}
.b-form.file .form-title span a{
  font-size: 12px;
  color: #646566;
  text-decoration: underline;
}
.b-form.file .form-title span a:hover{
  text-decoration: none;
}
.b-form.sub{
  margin-top: 60px;
}
.b-form.sub input[type="submit"]{
  width: 200px;
  height: 44px;
  border: #ffc90a solid 4px;
  background: #fff;
  font-size: 18px;
  color: #231f20;
  font-family: 'helveticaneuecyrblack';
  cursor: pointer;
}
.b-form.sub input[type="submit"]:hover{
  background: #ffc90a;
}
.b-form.sub span{
  display: none;
}
.b-form.sub span.active{
  display: inline-block;
  font-size: 12px;
  color: #ff7054;
  margin-left: 20px;
}
.jobs-list, .invoice-list{
  margin-top: 60px;
}
.attent{
  margin: 0 0 60px;
  font-size: 13px;
  color: #646566;
}
.jobs-table{
  margin-top: 45px;
}
.jobs-table table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.jobs-table table thead tr td{
  color: #646566!important;
  font-family: 'helveticaneuecyrblack';
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
}
.jobs-table table tbody tr{
  height: 38px;
  background: #f4f4f4;
}
.jobs-table table tr td{
  width: 150px;
  color: #646566;
  font-size: 14px;
  padding-left: 20px;
}
.jobs-table table tr td+td{
  width: 350px;
  padding-left: 0px;
}
.jobs-table table tr td+td+td{
  width: 140px;
}
.jobs-table table tr td+td+td+td{
  width: 130px;
  color: #ff7054;
  font-size: 13px;
}
.invoice-table{
  margin-top: 45px;
}
.invoice-table table{
  width: 100%;
}
.invoice-table table thead tr td{
  color: #646566!important;
  font-family: 'helveticaneuecyrblack';
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
}
.invoice-table table tbody tr{
  height: 40px;
  vertical-align: bottom;
}
.invoice-table table tbody tr td{
  color: #646566;
  font-size: 13px;
}
.invoice-table table tbody tr td span{
  font-size: 18px;
  color: #231f20;
  font-family: 'helveticaneuecyrbold';
}
.invoice-table table tbody tr td{
  width: 190px;
}
.invoice-table table tbody tr td+td{
  width: 190px;
}
.invoice-table table tbody tr td+td+td{
  width: 260px;
}
.invoice-table table tbody tr td+td+td+td{
  color: #ff7054;
  font-size: 13px;
}



.vote-table {
  margin-top: 40px;
  text-align: left;
  width: 100%;
}

.vote-table-head {
  text-transform: uppercase;
  color: #646566;
  font-size: 14px;
  padding-bottom: 15px;
  font-family: 'helveticaneuecyrheavy';
}


.vote-table tbody tr {
  border-bottom: 5px solid #fff;
  background-color: #f4f4f4;
  color: #646566;
  
}
.vote-table .vote-table-head {
  padding-left: 15px;
  width: 40%
}
.vote-table .vote-table-head:first-child {
  width: 20%;
  padding-left: 0;
}

.vote-table .vote-table-head:last-child {
  width: 30%;
  text-align: center;
}

    
.vote-table tbody tr td {
  font-size: 16px;
}
.vote-table tbody tr td a {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  display: block;
}
.vote-table tbody tr td:first-child {
  padding-left: 18px;
  padding-top: 10px;
  vertical-align: middle;
  padding-bottom: 10px;
}
.btn-border {
    width: 200px;
    border: #ffc90a solid 4px;
    background: #fff;
    font-size: 18px;
    color: #231f20;
    font-family: 'helveticaneuecyrblack';
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px;
}
.btn-border:hover {
    background: #ffc90a;
}
.vote-table tbody tr td:last-child {
  text-align: center;
  padding-top: 10px;
  vertical-align: top;
  padding-left: 15px;
  padding-bottom: 10px;
}
.vote-table tbody tr td a {
  color: #646566;
}






.vote-disabled {
  background: inherit;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  color: #646566;
}
.vote-active {
  border: 0;
  font-size: 16px;
  background: #ffc90a;
  padding: 7px 18px;
  color: #fff;
  transition: 0.3s;
}

.vote-active:focus {
  outline: none;
}

.vote-disabled:focus {
  outline: none;
}


.work-table {
  color: #646566;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.work-table td {
  padding-bottom: 15px;
}

.work-table-title {
  width: 35%;
  font-family: 'helveticaneuecyrheavy';
  vertical-align: top;
  text-transform: uppercase;
}

.work-table-content {
  padding-right: 45px;
  padding-left: 35px;
}

.breacrumbs {
    margin: 20px 0;
    font-size: 13px;
}


.breacrumbs span {
  color: #cec6c6;
}

.breacrumbs span a {
  color: #646566;
}

.breacrumbs span a:hover {
  color: #919191;
}

.breacrumbs>span+span::before {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #818a91;
    content: "/";
}

.breacrumbs::after {
    display: table;
    clear: both;
    content: "";
}


.work-vote-box {
  margin: 35px 0;
  text-align: center;
}

.work-vote-like, 
.work-vote-dislike, .yellow-btn {
  padding: 10px 35px;
  text-transform: lowercase;
  color: #fff;
  font-size: 14px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}

.work-vote-like, .yellow-btn {
  background-color: #ffc90a;
}

.work-vote-dislike {
  background-color: #000000;
}

.work-vote-like:focus, .yellow-btn:focus {
  outline: none;
}

.work-vote-dislike:focus {
  outline: none;
}

.work-vote-like:hover, .yellow-btn:hover {
  background: #ebb52d;
}

.work-vote-dislike:hover {
  opacity: 0.7;
}

.yellow-btn{padding:15px 20px;text-transform: uppercase;}

.work-arrow {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'helveticaneuecyrheavy';
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  margin-bottom: 200px;
  color: #231f20;
}
.work-arrow:focus {
  color: #231f20;
}
.work-arrow-disable {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  color: #c6c6c6;
}

.work-arrow-disable:hover {
  opacity: 1;
}

.b-comp .b-col, .b-comp .b-col.second {
  width: calc(33% - 16px);
}

.b-comp .b-col .b-date {
  width: auto;

}

.conContent .b-comp .b-col {
  width: 211px;
}
/*.conContent .b-comp .b-col.second {*/
  /*width: 281px;*/
/*}*/
.conContent .b-comp .b-col .b-des-comp {
  margin-right: 0;
}
.conContent ol {
  list-style: none;
  counter-reset: point;
}
.conContent ol li {
  position: relative;
  padding-left: 15px;
  margin-left: 0 !important;
}

.conContent ol li:before {
    content: counter(point);
    counter-increment: point 1;
    font-family: 'helveticaneuecyrbold';
    position: absolute;
    left: 0;
    color: #231f20;
    text-align: center;
}

.conContent ol li:after {
    content: ')';
    font-family: 'helveticaneuecyrbold';
    position: absolute;
    left: 8px;
    color: #231f20;
    text-align: center;
}


.conContent ol li:first-child {
    margin-top: 0px;
}

.conContent ol li {
  margin-top: 15px;
  font-size: 13px;
  color: #646566;
}

.work-arrow:hover {
  opacity: 0.5;
}

.arrow-left {
  float: left;
}

.arrow-left::before {
  content: '';
  display: block;
  border: 5px solid #ffc90a;
  height: 50px;
  width: 50px;
  background: url('../img/arrow-left.png') center no-repeat;
  margin-right: 20px;
}

.arrow-right {
  float: right;
}

.arrow-right::after {
  content: '';
  display: inline-block;
  border: 5px solid #ffc90a;
  height: 50px;
  width: 50px;
  background: url('../img/arrow-right.png') center no-repeat;
  margin-left: 20px;
}

.relvideo{position:relative;}
.relvideo_logo{position: absolute;
    right: 12px;
    bottom: 9px;
    width: 135px;
    background: #000 url('../img/logo-ytb.png')center no-repeat;
    background-color: #ffc90a;
    height: 45px;}

.work-arrow-disable::before {
  background: url('../img/arrows-1.svg') center no-repeat;
}

.work-arrow-disable::after {
  background: url('../img/arrows.svg') center no-repeat ;
}

.b-bill{
  margin-top: 75px;
}
.bill-tabs{
  margin-top: 30px;
}
.check input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.check label {
  cursor: pointer;
}
.check label:after {
  content: " ";
  display: block;
  width: 37px;
  height: 38px;
  background: url(../img/checkbox.png);
  position: relative;
  top: 0px;
}
.check input[type=checkbox]:checked + label:after {
  background-position: 0 -39px;
}
.bill-tabs table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.bill-tabs table tr{
  background: #f4f4f4;
}
.bill-tabs table tr td{width: 37px; text-align: center; color: #646566; font-size: 13px;}
.bill-tabs table tr td+td{width: 341px; font-size: 18px; }
.bill-tabs table tr td+td+td{width: 260px; font-size: 13px; }
.bill-tabs table tr td+td+td+td{width: 112px;}
.bill-tabs table tr td span{ color: #231f20; font-family: 'helveticaneuecyrbold'; display: inline-block; margin-right: 5px; }
.select-jobs{
  margin: 70px 0 0;
  font-size: 13px;
  color: #646566;
}
.select-jobs span{
  font-family: 'helveticaneuecyrbold';
  color: #231f20;
}
.b-bill .b-form.sub input[type="submit"]{
  width: auto;
  padding: 0 15px;
}
.kabinet-menu.regist ul li a{
  padding: 22px 70px;
}
.notice{
  display: inline-block;
  width: 520px;
  font-size: 12px!important;
  color: #646566!important; 
  margin: 2px 0 0 20px;
}
.b-content.regist-page h1{
  margin-top: 50px;
}
.b-content .kabinet-form{
  margin-top: 70px;
}
.winner-content{
  margin-top: 36px;
}
.year-left{
  float: left;
  width: 120px;
  margin-left: 20px;
}
body.internal .b-content.winner-page{
  float: left;
  width: 770px;
}
.year-list li{
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #c6c6c6;
  font-size: 24px;
  margin-top: 10px;
}
.year-list li:first-child{
  margin-top: 0px;
}
.year-list li.active{
  border: #ffc90a solid 4px;
}
.year-list li:hover a{
  background: #ffc90a;
}
.year-list li.active a{
  font-family: 'helveticaneuecyrblack';
  color: #231f20
}
.year-list li a{
  display: block;
  text-align: center;
  color: #231f20;
  font-size: 24px;
}
.winner-category{
  font-family: 'helveticaneuecyrblack';
  font-size: 18px;
  color: #646566;
  margin-bottom: 30px;
}
.winner-category span{
  color: #000000;
}
.b-winner-item{
  margin-bottom: 90px;
}
.b-winner-item a {
  word-wrap: break-word;
}
.title-place .left{
  float: left;
  width: 560px;
}
.title-place .right{
  float: right;
  width: 201px;
  text-align: right;
  margin-top: 3px;
}
.title-place span{
  display: inline-block;
}
.place{
  font-family: 'helveticaneuecyrblack';
  font-size: 18px;
  color: #646566;
  padding-left: 20px;
  text-transform: uppercase;
}
.place.gold{background: url(../img/gold.png) no-repeat left center;}
.place.silver{background: url(../img/silver.png) no-repeat left center;}
.place.bronze{background: url(../img/bronze.png) no-repeat left center;}
.category{
  font-family: 'helveticaneuecyrblack';
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 10px;
}
.name-compet, .author{
  font-family: 'helveticaneuecyrblack';
  font-size: 14px;
  color: #646566;
  text-transform: uppercase;
  margin-left: 15px;
}
.jobs-box{
  margin-top: 35px;
}
.jobs-box a{
  display: block;
}
/* modal */
.reveal-modal{
  background: url(../img/modalbg.png) no-repeat;
  width: 364px;
  height: 240px;
  margin-left: -220px;
  padding: 47px 43px 34px 34px;
}
.reveal-modal .b-form{
  margin-top: 25px;
}
.reveal-modal form .b-form:first-child{
  margin-top: 0px;
}
.ecall-pass{
  float: right;
  font-size: 15px;
  color: #9a9a9a;
  font-family: 'helveticaneuecyrblack';
  margin-top: 11px;
}
.ecall-pass:hover{
  color: #000;
}
.reveal-modal .close-reveal-modal{
  display: block;
  background: url(../img/close-reval.png) no-repeat 0px 0px;
  width: 57px;
  height: 57px;
  top: 1px;
  right: -53px;
}
.reveal-modal .close-reveal-modal:hover{
  background-position: 0px -58px;
}
.konkurs-text.awards{
  width: 640px;
}
.konkurs-text.awards p{
  margin-top: 20px;
}
.konkurs-text.awards p:first-child{
  margin-top: 0px;
}
.konkurs-text.awards p span{
  font-family: 'helveticaneuecyrbold';
  color: #231f20;
}
.col-line{
  margin-top: 45px;
}
.col-line:first-child{
  margin-top: 0px;
}
.b-date.gold{background: #f4d219;}
.b-date.silver{background: #dadada;}
.b-date.bronze{background: #f0b35c;}
.b-date.finale{background: #f2f2f2;}
.b-date.finale .date, .b-date.finale .month{color: #cbcbcb;}
.b-thanks .b-title{ margin-top: 60px; }
.b-account .b-title{ margin-top: 60px; }
.b-account .konkurs-text p a{
  color: #646566;
  text-decoration: underline;
}
.b-account .konkurs-text p a:hover{
  text-decoration: none;
}
/* Правки 12.11.2013 */
.menu{
  width: 790px;
  margin-top: 47px;
}
.menu ul{
  width: auto;
}
.menu ul.login{
  position: absolute;
  /* float: right; */
  top: 10px;
  right: 0;
  width: auto;
}
.menu ul.login li.enter a{
  color: #fff;
  border-bottom: solid #fff 1px;
}
.menu ul.login li.enter:hover a{
  border-bottom: transparent solid 1px;
}
.b-committee .col div span{
  letter-spacing: 1px;
}
.b-contact .b-col.last{
  width: 207px;
}
.konkurs-text.awards{
  width: 575px;
}
.reveal-modal{
  background-position: 0px -1px;
}
.reveal-modal .close-reveal-modal{
  top: 0px;
}
.ecall-pass{
  margin-right: 50px;
}
body.internal .menu{
  margin-top: 47px;
}
/* добавление кнопки 13.11.2013 */
/*.accept{
  background: url(../img/accept.png) no-repeat 0px 0px;
  width: 53px;
  height: 265px;
  position: fixed;
  top: 161px;
  left: 0px;
  z-index: 10;
}
.accept:hover{
  background-position: -54px 0px;
}*/


/*  22,11,2013  */
.b-title.stage h4, .b-title.stage h2{
  margin-top: 30px;
  display: inline-block;
  float: left;
  clear: both;
}
.b-title.internal-page h4{
  float: none;
  margin-bottom: 25px;
}
h2 {
  margin-top: 30px;
  float: none;
  margin-bottom: 25px;
}
.b-contest .internal-page h2 {
  margin-top: 0;
}
.main-internal .b-content {
  margin-top: 140px;
}
.main-internal .b-partners, .main-internal .b-contact {
  margin-top: 100px;
}
.main-internal .b-contact .conContent{
  margin-top: 0;
}
.main-internal .b-title.stage h2 {
  margin-bottom: 25px;
}
h3 {
  margin-top: 30px;
}
h3::before {
  margin-right: 20px;
  float: left;
  width: 20px;
  height: 20px;
  background: #f3f3f3;
  display: inline-block;
  content: '';
}

h3::after {
  width: 20px;
  height: 20px;
  background: #f3f3f3;
  float: right;
  display: inline-block;
  content: '';
}

.main-internal .b-title.stage h2{
  font-family: 'helveticaneuecyrblack';
  color: #231f20;
  font-size: 36px;
  text-transform: uppercase;
  float: left;
  font-weight: normal;
  margin-top: 0;
}

.b-comp-des{
  margin-top: 100px;
}
.b-comp-des p{
  font-size: 12px;
  color: #646566;
  margin-top: 21px;
}
.b-comp-des p:first-child{
  margin-top: 0px;
}

.conContent p strong, .b-comp-des p span{
  font-family: 'helveticaneuecyrbold';
  color: #231f20;
  font-size: 13px; 
}

.main-internal .conContent {
  margin-top: 100px;
}



.conContent p {
    font-size: 13px;
    color: #646566;
    margin-top: 21px;
}


.organizer{
  float: left;
  width: 170px;
}
.gallery-partners{
  float: right;
  width: 620px;
}
.b-partners .b-title{
  margin-bottom: 30px;
}
.organizer .b-title{
  margin-bottom: 50px
}
.competition .b-col{
  position: relative;
  width: 220px;
  margin-left: 35px;
}
.competition .b-col a{
  display: block;
}
.competition .b-col a:hover .hidden-des{
  display: block;
  top: 0px;
  left: 0px;
  z-index: 1;
  text-align: center;
}
/*.competition .b-col:first-child{*/
  /*margin-left: 0px;*/
/*}*/
.competition .b-col .b-date{
  width: 200px;
  height: 202px;
  border: none;
  background: #ffc90a;
}
.competition .b-des-comp{
  display: block;
  margin: 17px 0 0px;
}
.competition .b-date, .competition .img-cont{
  display: block;
}
.b-terms-col .b-col{
  width: 211px;
  margin-left: 15px;
}
.b-terms-col .b-col.second{
  width: 281px;
  margin-left: 15px;
}
.b-contest-col {
    overflow: hidden;
}
.b-contest-co.adwords .b-col .b-date,
.b-contest-col.adwords .b-col .b-date{
  width: 200px;
  height: 202px;
  border: none;
}
.b-contest-co.adwords .b-des-comp,
.b-contest-col.adwords .b-des-comp{
  margin: 15px 0 0 0;
}
.b-contest-co.adwords .b-col .b-date .date,
.b-contest-col.adwords .b-col .b-date .date{
  margin-left: 0px;
  width: 200px;
  text-align: center;
}
.b-contest-co.adwords .b-col .b-date .month,
.b-contest-col.adwords .b-col .b-date .month{
  margin: 110px 0 0 0;
  width: 200px;
  text-align: center;
  color: #fff;
}
.b-contest-co.adwords .b-date.finale .month,
.b-contest-col.adwords .b-date.finale .month{
  color: #cbcbcb;
}
.kabinet-menu.tabs ul li {
  width: 100%;
}
.kabinet-menu.tabs ul li a{
  padding: 22px 10px;
  text-align: center;

}
.kabinet-menu .tabs {
  display: flex;
  flex-direction: row;
}
.kabinet-menu ul {
  display: flex;
  flex-direction: row;
}
.b-header-bottom ul li {
  background-color: #f4f4f4;
}
.b-header-bottom ul li.active {
  background-color: #ffffff;
}


.slide-top .left-s{
  float: left;
  font-size: 132px;
  font-family: 'helveticaneuecyrblack';
  line-height: 100px;
}
.slide-top .left-s span{line-height: 100px;}
.left-r{
  float: left;
  font-family: 'helveticaneuecyrblack';
  margin-left: 5px;
}
.left-r .row1{
  font-size: 26px;
  line-height: 26px;
}
.left-r .row2{
  font-size: 14px;
}
.left-r .row3{
  font-size: 18px;
}
.slide-bottom{
  font-family: 'helveticaneuecyrblack';
  letter-spacing: 2px;
}
.slide-bottom .sep{
  width: 100%;
  height: 2px;
  background: #000;
  margin: 20px 0 10px; 
}
.slide-bottom .row1{font-size: 75px; line-height: 60px;}
.slide-bottom .row2{font-size: 54px; line-height: 54px;}
.slide-bottom .row3{font-size: 45px; line-height: 45px;}
.slide-bottom .row4{font-size: 47px; line-height: 47px;}

.text-slider{
  padding-top: 0px;
  width: 427px;
  float: right;
}

.img-box {
  width: 550px;
  float: left;
  display: inline-block;
}

.img-box a {
  display: inline-block;
}
.header-gallery {
  width: 100%;
}
.header-gallery .slider {
  width: 100%;
  display: block;
  position: relative;
}
.conContent p:nth-child(1) {
    margin-top: 0px;
}
.not_found {
  text-align: center;
}
.not_found .top {
  display: block;
  max-width: 660px;
  margin: 0 auto;
}
.not_found p {
  margin-top: 100px;
  font-size: 400px;
  line-height: 350px;
  font-weight: bold;
}
.not_found .h1 {
  font-size: 20px;
  text-align: left;
}

/* start hamburger menu */

.hamburger {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
    top: 15px;
}

.hamburger1,
.hamburger2,
.hamburger3 {
  position: absolute;
  top: 50%;
  left: calc(50% - 20px);
  height: 0.13726835964310227vw;
  width: 40px;
  background: #000000;
  height: 4px;
  transition: all 200ms ease-in-out;
  z-index: 10;
}

.hamburger:hover .hamburger1,
.hamburger:hover .hamburger2,
.hamburger:hover .hamburger3 {
  background: #000000;
}

.convert:hover .hamburger2 {
  background: inherit;
}

.hamburger1 {
  top: calc(50% - 10px);
}

.hamburger3 {
  top: calc(50% + 10px);
}

/* animation hamburger line 1 and 3 convert to 45deg, middle line - color inerit */

.convert .hamburger1 {
  top: 50%;
  transform: rotate(45deg);
}

.convert .hamburger2 {
  background-color: transparent;
}

.convert .hamburger3 {
  top: 50%;
  transform: rotate(-45deg);
}
.headWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menuCover {
  display: none;
}
.main-internal footer .conContent {
  margin-top: 0;
}
.b-menu .active {
  text-align: center;
}
/*.clear {*/
  /*display: none;*/
/*}*/
/* start hamburger end */
/* footer fix */
footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b-contact {
  display: flex;
  flex-wrap: wrap;
}
.b-partners {
  display: flex;
  flex-wrap: wrap;
}
.organizer,
.b-contact .b-col.last {
  width: calc(33% - 30px);
  margin: 0 15px;
}
.gallery-partners,
.b-contact .b-col.first {
  width: calc(66% - 30px);
  margin: 0 15px;
}
.b-committee .col {
  width: calc(50% - 30px);
  margin: 0 15px;
}
.b-committee {
  margin: 0 -15px;
}
/* addwork */
#form-auth-login .height1,
.kabinet-form .b-form{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
#form-auth-login .b-form{
    width: calc(50% - 20px);
    box-sizing: border-box;
    margin: 0 10px 40px 10px;
}
#form-auth-login .b-form.sub {
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
}
#form-auth-login .height1 {
    flex-direction: column;
    margin: 40px -10px 0px -10px;
    align-items: center;
}

.b-form.text {
  margin:0 -10px 40px -10px;
}
.b-form h5 {
  margin:0 10px 40px 10px;
}
.b-form.sub,
.b-form.file,
.b-form.text {
  padding: 0 10px;
}
.b-form.file.required_file {
  box-sizing: border-box;
  margin: 0 -10px 40px -10px;
}
.b-form.c2 .b-form-right,
.kabinet-form .b-form-left,
.kabinet-form .b-form-right {
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin: 0 10px 40px 10px;
}

/*.inputFileVal {*/
  /*width: calc(100% - 46px);*/
/*}*/

.b-form.file input[type="text"],
.kabinet-form .b-form.c2>div,
.b-form.c2 .b-form-right input[type="text"],
.form-title,
.type_file,
.b-form .sbOptions,
.b-form input[type="text"],
.b-form input[type="password"] {
  width: 100%;
}
.b-form .sbHolder {
  width: 100%;
}
.b-form .sbToggle {
  width: 41px;
  height: 36px;
  top: -2px;
}
.form-title span {
  margin: 10px;
}
.b-form.c2 .b-form-plus a {
  line-height: 23px;
}
.b-form.c2 .b-form-plus {
  float: right;
}
.inputFileVal {
  width: calc(100% - 43px);
}
.winner-content {
    display: flex;
}
/* youtube fix */
.youtubeWrapper {
    max-width: 680px;
    /*margin: 60px auto;*/
    padding: 0 20px;
}

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.wrapper>.b-content>.container>.content.clearfix {
    min-height: 100%;
    padding-bottom: 0px;
}
.program-col a:after{
    content: "";
    display: block;
    background: url(../img/share-angle-y.png) no-repeat;
    width: 69px;
    height: 42px;
    position: absolute;
    bottom: -13px;
    right: -13px;
    z-index: 10;
}
.menuCover {
    display: none;
}
.b-content {
    overflow-x: hidden;
}
.b-form.file input.inputFileVal {
    width: calc(100% - 46px);
}

@keyframes swipeMove {
  100%,0%   {right: 20px;}
  25%  {right: 40px;}
  50%  {right: 20px;}
  75%  {right: 0px;}
}

/* make tables Flex */
.flexTable {
  display: flex;
  flex-direction: column;
}
.flexTable .tr {
  display: flex;
  padding-bottom: 15px;
}
.flexTable .td {
  display: flex;
  flex-wrap: wrap;
}
.work-table-content {
  width: 65%;
}
.work-box .youtubeWrapper {
  margin: 10px auto;
}
.audioWrap {
  width: 100%;
  height: 30px;
}
.workImg {
  width: 100%;
  height: auto;
}
.dark-theme
{
  background-color: #000000;
  color: #FFFFFF;
}

.normal-theme
{
  background-color: #B8FFF7;
  color: #C53131;
}

.light-theme
{
  background-color: #FFFFFF;
  color: #000000;
}
#audio {
  width: 100%;
}
/* floating arrow */
.floatingArrow {
  display: flex;
  padding:10px;
  border:3px solid #000000;
  background-color: rgba(255,255,255,0.2);
  position: fixed;
  bottom: 50px;
  opacity: 0;
  right: 10px;
  transition: opacity 0.3s ease;
  z-index: 2;
}
.floatingArrow:after {
  content: ' ';
  width: 20px;
  height: 20px;
  top:0;
  left:0;
  background-image: url(../img/chevron-up.svg);
  background-size: cover;
  transition: transform 0.2s linear;
  animation-name: arrowFloat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}
@keyframes arrowFloat {
  100%,0%   {transform:translateY(4px);}
  50%  {transform:translateY(-4px);}
}
.floatingArrow:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(255,255,255,0.5);
}
/* floating arrow end*/

@media (max-width: 1200px) {
  .menu {
      display: flex;
      margin: 47px 0 0 0;
      width: 80%;
  }
  .logo {
    width: 20%;
  }
  nav {
    width: 100%;
  }
  .b-menu {
    display: flex;
    justify-content: space-around;
  }
  .menu ul {
    width: 100%;
  }
  .menu ul.login {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
  }
  .text-slider {
    position: absolute;
    left: auto;
    right: 0;
    top: 20px;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .text-slider .first:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    z-index: -1;
  }
  .header-slider .angle {
    display: none;
  }
  .header-gallery .bx-controls {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 50;
  }
  .b-content,
  .b-contact,
  .b-partners{
    margin: 90px 10px;
  }
  /* fonts sizes */
  .main-internal .b-title.stage h2 {
    font-size: 36px;
  }
  /* fonts sizes end */
  .header-gallery {
    width: calc(100% - 20px);
  }

  .b-partners .img-organizator {
    display: flex;
    justify-content: center;
  }
  .copy-w,
  .develop {
    margin-top: 0;
  }
  .b-share-col,
  .competition {
    /*margin: 0 -15px;*/
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
      margin: 0 -15px;
  }
  .b-program .b-program-col .program-col,
  .b-share-col .b-col,
  .competition .b-col {
    margin: 0 15px;
    width: calc(33.3% - 30px);
      max-width: 200px;
  }
  .b-program {
    display: flex;
    flex-direction: column;
  }
  .kabinet-form .b-form.sub {

  }


}
@media (max-width: 1024px) {
  body.internal .b-content {
    margin: 0 12px;
  }
  .year-left {
    width: auto;
    margin-left: 0;
  }
  .year-list {
    position: absolute;
    top: 100px;
    left: -94px;
    z-index: 10;
      /*padding-right: 30px;*/
    margin-left: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
      transition: left 0.3s ease;
  }
    .year-list.active {
        left: 0px;
    }

  .year-list:before {
      content: "фільтр по роках";
      background-color: #ffc90a;
      position: absolute;
      width: 180px;
      height: 30px;
      top: 112px;
      right: -105px;
      color: #ffffff;
      font-family: 'helveticaneuecyrblack';
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      /*border-radius: 0 0 10px 10px;*/
      box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
      transform: rotate(270deg);
  }

  .year-list li {
    line-height: 20px;
    margin-top: 10px;
    padding: 5px;
    height: auto;
  }
  .year-list li a {
    font-size: 20px;
  }
  /*.videoRelationRation {*/
    /*padding-top: 56.25%;*/
    /*position: relative;*/
  /*}*/
  .jobs-box img {
    width: 100%;
    height: auto;
  }
  .title-place .left {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .title-place .right {
    width: 100%;
    padding: 0 10px;
  }
  body.internal .b-content.winner-page {
    width: calc(100% - 30px);
  }

  .swipeHand:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 20;
    background: url(../img/swipe.svg) no-repeat 100% 100%;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: transform 0.2s linear;
    animation-name: swipeMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .swipeHand {
    border: 1px solid #c3c3c2;
  }
  .responsiveWrap {
    position: relative;
  }
  .responsive {
    overflow-x:auto;
    position: relative;
    box-sizing: border-box;
  }
  .responsiveWrap table {
    width:860px;
  }
  .body.internal .b-content.winner-page{
    margin: 17px 0 0 80px;
  }
  body.internal .b-content.regist-page {
    margin: 0 0 0 auto;
  }
  body.internal .b-content {
    margin: 30px 0 0 auto;
    padding: 10px;
  }
  .slider .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -20px !important;
    right: 0px !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .b-content.regist-page h1 {
    margin-top: 30px;
  }
  .b-content .kabinet-form {
    margin-top: 30px;
  }
  .work-arrow {
    width: 40%;
    margin-bottom: 20px;
  }

}
@media (max-width: 990px) {
    .year-list {
        left: -74px;
    }
}

@media (max-width: 900px) {
  /* fonts sizes */
  .main-internal .b-title.stage h2 {
    font-size: 24px;
  }
  /* fonts sizes end */

  .jobs-box {
    position: relative;
  }
  .jobs-box iframe{
    width: 100%;
      max-height: 432px;
      max-width: 768px;
    border: none;
  }
  h1 {
    font-size: 26px;
  }



}
@media (max-width: 768px) {
  .b-header-bottom>wrapper {
    z-index: 0;
  }

  .kabinet-menu {
    margin-left: 0%;
    margin-top: 30px;
    position: relative;
  }
  .logo .logoBig {
    display: block;
    background: url(../img/logo.png) no-repeat;
      width: 77px;
      height: 83px;
    background-size: contain;
      margin-left: -9px;
  }
  .text-slider {
    position: absolute;
      top: 0px;
      padding: 0 20px 20px;
  }
  .hamburger {
    display: block;
  }
  .header-gallery {
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  .menu {
    margin: 0px;
  }
  .menu nav {
    display: flex;
    flex-direction: column;
  }
  .menu ul.login {
    position: relative;
    display: flex;
      justify-content: center;
    top: 0;
    margin: 15px auto 0px auto;
  }
  nav .login .enter.enter_log {
      padding: 10px;
      border: 2px solid #ffffff;
  }
    nav .login .enter.enter_log a {
        transition: border 0.3s ease;
    }
    nav .login .enter.enter_log a:hover {
        border-bottom: solid #ffc90a 1px;
        cursor: pointer;
    }

  .b-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .b-menu li {
    width: 100%;
    margin: 0;
    margin-left: 0 !important;
  }
  .b-menu .node a{
    width: 100%;
    text-align: center;
    padding: 10px;
    display: block;
    box-sizing: border-box;
  }
  .headWrapper {
    justify-content: space-between;
      background-color: #ffc90a;
  }
  .b-header-cont {
    /*overflow: hidden;*/
    height: auto;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
  .logo,
  .hamburger {
    z-index: 90;
  }
  .menu {
    background-color: #ffc90a;
  }
  .menuCover {
    display: block;
    position: absolute;
    background-color: #ffc90a;
    height: 80px;
    width: 100%;
    top: -12px;
    left: 0;
    z-index: 20;
    border-top: 12px solid #fff;
  }
  .active_menu {
    transform: translateY(65px);
    padding: 15px 0;
  }
  .main-internal {
    background: none;
  }
  .b-content,
  .b-contact,
  .b-partners{
    margin: 40px 10px;
  }
  .b-contact .b-col.first {
    width: 100%;
  }
  .b-header-cont {
    height: 491px;
    border-top: 12px solid #fff;
    border-left: 12px solid #fff;
    border-right: 12px solid #fff;
  }
  .header-gallery {
    background-color: #ffc90a;
  }
  /* fonts sizes */
  .main-internal .b-title.stage h2 {
    font-size: 20px;
  }
  /* fonts sizes end */
  .b-comp.starter {
    display: flex;
  }
  .b-comp .b-col {
    width: 80px;
    margin: 0 auto;
  }
  .header-gallery {
    width: 100%;
  }
  .b-contact .b-col.last {
    margin-top: 40px;
  }
  .organizer {
    order: 2;
    width: 100%;
    margin-top: 40px;
  }
  .gallery-partners {
    order: 1;
    width: 100%;
  }
  .b-share-col .b-col,
  .b-partners .img-organizator {
    display: flex;
    justify-content: center;
  }

  .b-share-col .b-col a {
    width: 200px;
  }
  .logo-bottom {
    order: 3;
  }
  .copy-w,
  .develop {
    margin: 5px;
  }
  .copy-w {
    order: 2;
  }
  .develop {
    order: 1;
  }
  footer .wrapper {
    flex-direction: column;
  }
  .main-internal .b-content {
    margin-top: 50px;
  }
  .main-internal .b-partners, .main-internal .b-contact{
    margin-top: 50px;
  }
  .content {
    padding-bottom: 50px;
  }
  .b-contest-co.adwords .col-line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .b-contest-co.adwords .col-line {
    margin-top: 0;
  }
  .b-contest-co.adwords .b-col .b-date .date{
    font-size: 80px;
    line-height: 80px;
  }
  .b-contest-co.adwords .b-col .b-date .month {
    margin: 30px 0 0 0;
    font-size: 30px !important;
  }
  .b-contest-co.adwords .b-date{
    justify-content: center;
    margin-top: 40px;
  }
  .b-contest-co.adwords .b-col {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .b-comp.starter .b-col {
    width: calc(33% - 16px);
    display: flex;
    flex-direction: column;
  }
  .b-col.second .date,
  .b-col .b-date .date {
    position: relative;
    margin-left: 0;
    width: 100%;
    left: 0;
    top: 0 !important;
  }
  .b-col .b-date .month {
    margin-left: 0;
    margin-top: 0;
  }
  .b-des-comp {
    margin: 0;
    text-align: center;
  }
  .competition .b-col .b-date,
  .b-col .b-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .b-comp.starter .b-date{
    padding: 10px;
      height: 100%;
      min-height: 170px;
  }
  .competition .b-col .b-date {
    width: 100%;
  }
  .competition .b-col {
    overflow: hidden;
  }
  .b-col .b-date .date {
    font-size: 50px;
    text-align: center;
  }
  .b-col .b-date .month {
    font-size: 20px !important;
  }
  .main-internal .starter .conContent {
    margin-top: 50px;
  }
  .b-col .b-date {
    border: #f3f3f3 solid 6px;
  }
  .b-col .b-date .month {
    line-height: 36px;
  }
  .b-col .b-date .date {
    line-height: 45px;
  }
  body.internal .b-header-cont{
    height: 65px;
  }
  body.internal .menu {
    margin-top: 0px;
  }
  header {
    z-index: 20;
  }
  body.internal header {
    height: auto;
  }
  .share-text {
    margin-bottom: 15px;
  }
  /*.b-program .b-program-col {*/
    /*margin: 0 -15px;*/
  /*}*/
  .program-col a {
    width: 200px;
    margin: 0 auto;
  }
  .b-menu .active {
    margin: 0 auto;
  }
    .kabinet-menu ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .b-share-col,
    .competition {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

  

}
@media (max-width: 650px) {
  .b-program .b-program-col .program-col,
  .b-committee .col {
    width: calc(100% - 30px);
  }
  .b-committee .col+.col {
    margin-top: 15px;
  }
  .b-comp.starter {
    flex-direction: column;
  }
  .b-comp.starter .b-col {
    max-width: 200px;
    min-height: 170px;
    width: 100%;
    margin: 15px auto;
  }
  .b-title {
    margin-bottom: 20px;
  }
  .main-internal .conContent {
    margin-top: 20px;
  }
  .competition .b-col {
    width: 200px;
    margin: 0 15px;
  }
  .competition .b-des-comp {
    margin-bottom: 15px;
  }
  .kabinet-form .b-form-left,
  .kabinet-form .b-form-right {
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
  .b-form.c2 .b-form-right {
    width: calc(100% - 20px);
  }
  .b-form.c1 {
    margin-bottom: 0;
  }
  #form-auth-login .b-form {
    width: calc(100% - 20px);
  }
  #form-auth-login .b-form.sub {
    display: flex;
    justify-content: center;
  }
  .b-share-col,
  .competition,
  .b-share-col .b-col,
  .b-contact .b-col.last {
    width: calc(100% - 30px);
  }
  .b-share-col, .competition {
    margin: 0 15px;
  }
  .b-program .b-program-col .program-col, .b-share-col .b-col, .competition .b-col{
    max-width: 100%;
  }
  .flexTable .tr {
    flex-wrap: wrap;
  }
  .flexTable .td {
    width: 100%;
  }

}
@media (max-width: 600px) {
  .kabinet-menu ul {
    z-index: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    background-color: #ffc90a;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    transition: top 0.3s ease;
  }
  .kabinet-menu ul:after {
    content: "категорії";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: 'helveticaneuecyrblack';
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .kabinet-menu ul li {
    background-color: #f4f4f4;
    width: 100%;
  }
  .kabinet-menu ul li.active {
    background-color: #ffffff;
  }
  .kabinet-menu ul.active {
    top: 0px;
  }
  .kabinet-menu ul li a {
    padding: 20px 5px;
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .text-slider,
  .img-box {
    width: 100%;
  }
  .text-slider span.first {
    font-size: 50px !important;
    line-height: 50px !important;
  }
  .text-slider span.last {
    font-size: 20px !important;
    line-height: 20px !important;
  }
  .b-header-cont {
    height: auto;
  }

    .header-slider li {
        min-height: 500px;
        height: 100%;
    }
    .img-box {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .text-slider .first:before {
        opacity: 0;
    }
    .text-slider {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .slider .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        right: auto !important;
    }
    .bx-wrapper img {
        padding: 0px 7.8125vw;
    }
    .kabinet-menu.regist .tabs {
        position: inherit;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .kabinet-menu.regist .tabs:after {
        display: none;
    }

}
@media (max-width: 450px) {
  #file_to_dowload .form-title span {
    margin-top: 36px;
  }
  .header-slider li {
    min-height: 450px;
    height: 100%;
  }
  .img-box {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .text-slider .first:before {
    opacity: 0;
  }
  .bx-wrapper img {
    padding: 0px;
  }
  .work-arrow {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {

  .header-slider li {
    min-height: 400px;
    height: 100%;
  }
  .work-vote-box {
    display: flex;
  }
  .work-vote-box button {
    width: 50%;
  }
  .work-vote-like,
  .work-vote-dislike {
    padding: 10px 10px;
    width: 100%;
  }

}
@media (max-width: 350px) {
  .relvideo_logo {
    position: absolute;
    right: 0px;
    bottom: 2px;
    width: 125px;
  }
}