#dialog_form{margin-top:-9px}
#div_thumb_make legend{padding:10px 0px;}
 input[type="file"] {
            -webkit-appearance: none;          
            border-radius: 2px;
            padding: 4px 0;
            color: #000;
            width: 250px;
            vertical-align: top;       
        }
        input[type="file"]::-webkit-file-upload-button {
            -webkit-appearance: none;
            
            font-size: 13px;
            background-image: -webkit-linear-gradient(top, #f6f6f6, #f6f6f6, #f6f6f6);
            border-radius: 2px;
            color: #000;
            padding: 5px 10px;
            border: 1px solid #9d9d9d;            
            width: 130px;
			cursor:pointer;
        }
.picFirst{margin-top:5px;}
.hspace{width:163px;height: 27px;padding: 5px;}
div LEGEND{font-weight:bold;margin-top:10px;}
BODY, TD {

	margin: 5px 5px 5px 5px;
	/*background-color: #D5E6FA;*/
	font-size: 12px;
	font-family: Verdana,Geneva,Arial;
}
FIELDSET {
	padding: 5px 5px 5px 5px;
	margin-right: 5px;
	margin-left: 5px;
	font: bold;
	color: #000066;
}
FIELDSET.error {
	padding: 5px 5px 5px 5px;
	margin-right: 5px;
	margin-left: 5px;
	font-weight: bold;
	color: #CC0000;
}
A {
	text-decoration : none;
	color : #0000FF;
}
A:HOVER {
	color : #6666FF;
}
TABLE {
	border-collapse: collapse;
	padding: 3px;
	border: none;
	width: 100%;
}
TD {
	border-collapse: collapse;
	padding: 3px;
	border: none;
}
TABLE TD.title {
	
	text-align: right;
	width: 133px;
	vertical-align:middle;
}
.clsbtn {
	font-size: 11px;
	font-family: Verdana;
	margin-top: 10px;
	width: 93px;
	height:28px;
	line-height:12px;
	background-color: #f6f6f6;
	border-radius:2px;
	border:none;
	border-bottom:solid 1px #9d9d9d;
	border-left:solid 1px #9d9d9d;
	border-right:solid 1px #9d9d9d;
	border-top:solid 1px #d4d4d4;
	cursor: pointer;
}
SPAN.comment {
	font-size : 10px;
}
TABLE TD.left {
	width: 50%;
}
thead td{background-color: #f7f7fa;border-right: solid 1px #ccc;border-left: solid 1px #ccc;height: 37px;text-align:center;}