BODY {
	font-family : Verdana,Geneva,Arial;
	font-size : 12px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #4B80C9;
}
TD {
	font-family : Verdana,Geneva,Arial;
	font-size : 12px;
	vertical-align : top;
	padding: 0 0 0 0;
}
TABLE {
	border:0px;
	border-collapse:collapse;
}
DIV.top_bg {
	position:absolute;
	top:0px;
	left:0px;
	background-image: url('/design/cms/img/editor/design/top_center.gif');
	background-repeat : repeat-x;
	width: 100%;
}
DIV.toolbar_main {
	position:absolute;
	top:7px;
	left:6px;
}
.button {
	background-color: #D2E6FA;
	border: 1px solid #89A5CB;
	margin: 0 1px 0 1px;
}
.disabled {
	background-color: #D2E6FA;
	border: 1px solid #89A5CB;
	margin: 0 1px 0 1px;
	filter: alpha(Opacity=30);
}
.devider {
	margin: 0 1px 0 1px;
}
DIV.toolbar_standart {
	position: absolute;
	top: 7px;
	left: 154px;
}
.sselect {
	position: absolute;
	top: 40px;
	background: #D2E6FA;
}
DIV.toolbar_format {
	position:absolute;
	top:33px;
	left:340px;
}
.nodisp {
	display: none;
}
DIV.statusbar {
	position:absolute;
	width:100%;
	height:29px;
	left:0px;
	padding-left:15px;
	background-image: url('/design/cms/img/editor/design/bottom_center.gif');
	background-repeat:repeat-x;
}
.statusbar_bg {
	position:absolute;
	left:240px;
	width:450px;
	height:16px;
	background-color:#D2E6FA;
}
.statusbar_text {
	position:absolute;
	left:244px;
}
.frame {
	position:absolute;
	top:62px;
	left:2px;
	width:100%;
}
DIV.switches {
	position:absolute;
	left:700px;
	bottom: 7px;
}
DIV.switches INPUT {
	background-color:transparent;
}

INPUT, SELECT {font: 12px MS Sans Serif; background-color: #D2E6FA;}
FONT {font: 10px Tahoma;}
TD {width: 23px;text-align: center;}
.I {width: 5px;	align: center;}

DIV.preload {
	font: bold 14px Verdana,Geneva,Arial;
	color: #000066;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	left: 0px;
	top: 0px;
	background-color: silver;
}
DIV.page {
	visibility : hidden;
}
DIV.toolbar {
	left: 600px;
	top: 68px;
	width: 68px;
	position: absolute; 
	z-index: 1;
	display: none;
}
TABLE.toolbar {
	background: #C6DEF7;
}
TABLE.toolbar TD.head {
	background: url(/design/cms/img/editor/toolbar/top_bg.gif) repeat-x;
	text-align : left;
}
TABLE.toolbar TD.foot {
	background: url(/design/cms/img/editor/toolbar/bot_bg.gif) repeat-x;
}
TABLE.toolbar TD.left {
	background: url(/design/cms/img/editor/toolbar/left.gif) repeat-y;
	width: 4px;
}
TABLE.toolbar TD.right {
	background: url(/design/cms/img/editor/toolbar/right.gif) repeat-y;
	width : 4px;
}
TABLE.float_toolbar TD {
	text-align : center;
}
TABLE.float_toolbar_off {
	position: absolute;
	left: 5px;
	top: 16px;
}


DIV.exit {
	top:5px;
	right: 10px;
	z-index:1000;
	position:absolute;
}


/**
* Контекстное меню
*/
.context_menu {
	position:absolute;
	display:none;
	width:200px;
	background-color:white;
	border: 2px solid gray;
	font-family:Tahoma;
	font-size:12px;
	padding: 2px;
}
.context_menu_item {
	background-image: url(/design/cms/img/editor/context_bg.gif);
	background-repeat: repeat-y;
	width:200px;
	padding: 1px 1px 1px 2px;
	color:black;
	border-bottom: 1px solid #dddddd;
}
.context_menu_hlight {
	width:200px;
	padding: 1px 1px 1px 2px;
	background-color: #D5E5FB;
	border-bottom: 1px solid #dddddd;
}
