{if $cms_templates}
    {$cms_templates}
{else}
<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script> 
<script type="text/javascript" src="/js/ckeditor/adapters/jquery.js"></script> 
<script>
        
	function integrateCkEditor(textarea, object_id, object_table, object_field, object_temp_id) {
		CKEDITOR.timestamp = ( new Date() ).valueOf();
		CKEDITOR.on('currentInstance', function(e) {
		});
                
		CKEDITOR.replace(textarea, {
		        customConfig : '',
		        resize_enabled: true,
                        height: 600,
		        skin: 'moono',
		        contentsCss: '/design/cms/css/editor/src.css',
		        //,cms-cvs
		        extraPlugins: 'iframedialog,cms-quit,cms-language,cms-attach,cms-structure-link,cms-image,cms-flash',
		        cmslanguage_languages: 'ru/Русский;',
		        cmslanguage_current_language: 'ru',
		        
		        object_id: object_id,
		        object_temp_id: object_temp_id,
		        object_table: object_table,
		        object_field: object_field,
		        
		      
		        stylesSet: [
					{ name : 'Заголовок 1', element : 'h1' },
					{ name : 'Заголовок 2', element : 'h2' },
					{ name : 'Заголовок 3', element : 'h3' },
				],
			fontSize_sizes: '8/8px;9/9px;10/10px;11/11px;12/12px;13/13px;14/14px;15/15px;16/16px;17/17px;18/18px;19/19px;20/20px;21/21px;22/22px;23/23px;24/24px;25/25px;26/26px;27/27px;28/28px;36/36px;48/48px;72/72px;',
		        toolbar_CMS:
				    [
					    ['Save','Print','Cut','Copy','Paste','PasteText','PasteFromWord','CmsCvs'],
					    
					    ['Link','Unlink','Anchor','CmsAttach','CmsStructureLink'],
					    ['Image', 'CmsImage','CmsFlash','Table','HorizontalRule','SpecialChar'],
					    
					    ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
					    ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote','CreateDiv'],
                                            ['CmsQuit'],
                                            '/',
                                            
					    ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat','ShowBlocks'],
                                            ['Styles','Font','FontSize','TextColor','BGColor'],
					    ['Bold','Italic','Underline','Strike','Subscript','Superscript'],
					    //['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'Source','CmsLanguage'],
					    ['Source','CmsLanguage']
				    ],
		        toolbar: 'CMS'		       
		    }
		);
	}
        
        

 </script>   

 <a class="btn btn-grey" style="float:right;margin:10px;" href="/admin/maillist/template/" title="Вернуться назад"><span class="aicons up">&nbsp;</span> Назад</a>
 
 <h1>Шаблон :: {$name}</h1> 
 
 <br/>
 <div id="body_maillist">    
        <form method="post" name="form_message" id="form_message" action="/action/admin/maillist/save_template/" >  
            <input type="hidden" name="_return_path" value="{#CURRENT_URL_FORM}">
            <input type="hidden" name="_error_path" value="{#CURRENT_URL_FORM}">
            <input type="hidden" name="template_id" value="{$id}" />
            <textarea name="message" id="content_template" class="wide" >{$html}</textarea>
        </form>
 </div>
{/if}