body{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: smaller;background-color: #efeff4;clear: both;position:relative;}
h1, h2 {color: #000;font-size: 20px;font-weight: normal;font-family: Georgia, Times, Tahoma, Arial, Verdana;margin-top: 10px;padding-bottom: 0px;
		margin-bottom: 0px;}
input[type="text"]:focus { outline: none;font: 13px Verdana,sans-serif;color:#000}
.delta-group {
    display: table;
    border-collapse: separate;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0px;
    overflow: hidden;
}
.delta-group-btn{
    position: relative;
    white-space: nowrap;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.delta-file {
    padding: 5px 15px;
    background-color: #f6f6f6;
    border: 1px solid #9d9d9d;
    cursor: pointer;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
}
.delta-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.delta-control {
    display: table-cell;
    display: block;
    width: 420px;
    padding: 8px 12px;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #9d9d9d;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.delta-group.drag{ display: block; border: 2px dashed rgba(0,0,0,.3); }
.delta-group.drag .delta-group-btn{ display: none; }
.delta-group.drag .delta-control{ background: none; text-align: center; }
a:focus { outline: none; }

a.cformat_link{background: url("/img/shared/cformatlogo.png") center bottom no-repeat;background-size: 70% auto; height:110px;display:block;
position:absolute;bottom:20px;left:0px;width:216px;opacity:0.6;}
a.cformat_link:hover{text-decoration:none;}
/* Форма входа*/

.authForm {width: 100%;color: #000;margin-top: 150px;text-align: center;}
.signature {font-size: 13px;color: #238ee4;text-decoration: none;}
.form {margin: 10px auto 0px auto;text-align: left;border: 1px solid #e8e7e9;background: #fff;}
.form .block {margin: 5px 75px 5px 75px;}
.authForm h1 {font-size: 19px;margin: 20px 0px 10px 0px;font-weight:bold;}
.authForm p.comment {color: #747575;margin-bottom:15px;}
.authForm label.title {display: inline-block;width: 70px;}
.button {font-weight: bold;font-size: 11px;padding: 5px 20px;text-shadow: 1px 0px 0px #fff;font-weight: bold;border-radius: 2px;color: #403d3d;border: 1px solid #a4a4a4;}
.button:hover{cursor:pointer;}
#window-resizer-tooltip {display: none;position: fixed;z-index: 100000;bottom: 0px;right: 0px;color: rgb(204, 204, 204);background: 10px 10px no-repeat rgba(0, 0, 0, 0.8);
		padding: 5px 0px 5px 40px;width: 200px;white-space: nowrap;border-top-left-radius: 10px;font: normal 11px Tahoma, Verdana, sans-serif;}
#window-resizer-tooltip a {position: absolute;display: block;width: 19px;height: 19px;left: 11px;top: 50%;margin-top: -9px;}
#window-resizer-tooltip .tooltiptitle {display: inline-block;width: 70px;text-align: right;}
#window-resizer-tooltip .tooltipwidth, #window-resizer-tooltip .tooltipheight {display: inline-block;width: 35px;text-align: right;font-weight: bold;color: rgb(255, 255, 255);}
#window-resizer-tooltip .tooltipheight {text-align: left;}
input.text {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 12px;background-color: #84d0e1;width: 190px;padding: 5px;box-shadow: inset 0px 1px 1px #51808a;
		border: 0px solid #9999CC;}
.delta_error{background-color: #e74858;padding: 15px;box-shadow: inset 0px 2px 1px #8f2d36;color: #fff;max-width: 215px;margin:0}
.block{position: relative;}
.hint, .hintField1, .hintField2{position: absolute;top: 65px;left: 288px;display: inline-block;margin: 0;display:none;}
.triangle-left {width: 11px;height: 22px;display: inline-block;position: absolute;background: url('../img/arrowForm.png') 0 0 no-repeat;
		left: -10px;top: 19px;margin:0;}
#remember{position: relative;top:2px;}
.hintField1, .hintField2{max-width:215px;}
#authorize{position:relative;}
.hintField2{top:109px;}
.activ{color:#333;cursor:pointer;}
.forgot{color: #238ee4;text-decoration:underline;}
.forgot:hover{color: #e74858;text-decoration:underline;}
#container {
	position: fixed;
	-moz-appearance: none;
	appearance: none;
	width: 500px;
	height:350px;
	top: 50%;
	left: 50%;
	margin-top: -195px;
	margin-left: -250px;	
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
.ui-effects-wrapper{height:272px !important;}


/* delta table update error */
.message_align, .message_error {background-color: #e74858;padding: 5px;box-shadow: inset 0px 2px 1px #8f2d36;color: #fff;margin:10px 0px 0px 0px;}
.message_align td, .message_error{color: #fff;padding-left:10px;margin:0}
.message_align td p{padding:0px;margin:2px 0px;}
.message_error{margin-bottom:10px}

/* html */
lable, .skin-section label{min-width: 115px;text-align: right;display: inline-block;margin-right: 15px;margin-left: 72px;vertical-align: middle;
				font: 13px/13px Verdana,sans-serif;color:#000;}
lable span{color:#dc7073}
input[type="text"], input[type="password"]{text-align: left;padding: 5px;border: 1px solid #bcbcbd;vertical-align: top;font: 13px Verdana,sans-serif;color:#000;}
input[type="text"]:focus, input[type="password"]:focus{border: 1px solid #238ee4;}
input[name="rows_per_page"]{padding: 2px 5px; vertical-align: middle;}

.clear{clear:both}
.swide, .wide {
width: 100%;

}
.wide.wide50{width:50px;}
.wide.wide70{width:70px;}
.wide.wide80{width:90px;}
.swide{width:500px;}

.wide.failed, .failed{border:1px solid red !important;box-shadow:0px 0px 1px red !important;}

.select-wide{
padding: 6px 6px;margin:0px;
font: 13px/20px Verdana,sans-serif;
color: #000;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #bcbcbc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}

textarea.wide {
	height: 150px;
}
textarea.wide.small {
	height: 70px;width:300px;
}

/**
* Счетчики количества введенных в текстовое поле символов
*/
div.countTextField {
	font-size : 10px;
	display : none;
}
div.countTextField_bar {
	border-top : 1px solid black;
	border-bottom : 1px solid darkgray;
	border-left : 1px solid black;
	border-right : 1px solid darkgray;
	background-color : #f0f0f0;
	width : 300px;
	height: 7px;
	overflow : hidden;
}
div.countTextField_bar div {
	border-top : 1px solid white;
	border-bottom : 1px solid white;
	border-left : 1px solid white;
	border-right : 1px solid white;
	background-color : red;
	overflow : hidden;
	height: 5px;
	width : 0px;
}
div.countTextField_counter {
	left : 0px;
	position : relative;
}
div.countTextField_counter INPUT {
	border: none;
	border-top: 0px solid white;
	border-bottom: 0px solid white;
	border-left: 0px solid white;
	border-right: 0px solid white;
	width : 50px;
	background-color: transparent;
	color : darkgray;
	overflow : visible;
	font-size : 10px;
	font-family : Tahoma,Verdana,Geneva,Arial;
}
/**
 * Конец счётчиков
 */

/* Структура*/
.content {padding: 0px 10px 15px 10px;vertical-align: top;}

.cms_view_blocks{background: #fff;box-shadow: 0px 0px 1px #ccc;padding:10px;margin:10px 0px 20px 0px;}
.cms_view_blocks .cms_view_blocks{box-shadow: 0px 0px 0px #ccc;padding:0px;margin:0px;}
#menuTabs .cms_view_blocks, #idTabs .cms_view_blocks{margin-top:0px;}
.cms_view_blocks h1, .cms_view_blocks h2{padding:0px 0px 10px 0px;margin:0px 0px 10px 0px;border-bottom:1px solid #f1f1f1;}
.cms_view_blocks .path_table{float: right;line-height: 22px;}

.cms_view__path{margin-bottom:5px;}
.cms_view, .cms_edit {border-spacing: 0px;border-collapse: collapse;width: 100%;}
.cms_view>thead>tr, .cms_edit>thead>tr{height: 34px;}
.cms_view>thead>tr>th{background: #e7f8fc;color: #000;font-size: 13px;font-weight: bold;height: 34px;padding: 5px;border: 1px solid #e8e7e9;text-align: center;}
.cms_view tbody td{border:1px solid #e8e7e9;background: #fff;height: 33px;padding: 0px 5px;}

/*.cms_view tbody tr:last-child td{border-bottom:1px solid #bcbcbd;}*/
.cms_view > tbody tr:hover td{background-color: #efeff4;}
.cms_view tbody tr.dragClass td{background-color: #efeff4;}
.cms_view tbody tr td.edited{background-color:#d3f4fb}
.cms_view tbody tr.last_inserted td{background-color:#d3f4fb}
.cms_view tbody tr.selected td{background-color:#d3f4fb}
.bottom.over table tbody td{border:none;}
.cms_view tbody td.empty{background-color: #EEEEEE;text-align: center;font: 13px Verdana,sans-serif;height: 50px;}
.cms_view .green td {font-size: 13px;border: 1px solid #e8e7e9;background-color: #C4E2FD;height: 33px;}
.cms_view .grey td {background-color: #f0f0f0;}
.cms_view>tfoot>tr>td, .cms_view>tfoot>tr td {background: #f7f7fa;color: #000;font-size: 10px;font-weight: bold;height: 34px;border: 1px solid #e8e7e9;		padding: 0px 5px;}
.cms_view tbody th{font-size: 12px;text-shadow: 0px 1px 0px #fff;border: 1px solid #e8e7e9;/*background: #e7f8fc;*/background: #f7f7fa;height: 33px;padding: 0px;}
.cms_view .odd td{/*background-color: #f7f7fa;*/}

#edit_product_page table.vertical{border:none;}
#edit_product_page .divTabs{border:none;box-shadow: 0px 0px 1px #979292;padding:15px;}
#edit_product_page .cms_view .title{width:200px;text-align: right;vertical-align: middle; font-size: 12px; text-shadow: 0px 1px 0px #fff; 
      border: 1px solid #e8e7e9; line-height: 13px;   /* background: #e7f8fc; */    background: #f7f7fa;  font-weight: bold;  height: 33px;    padding: 0px;    padding-right: 10px;}
#edit_product_page .cms_view .title a{color:#000;}
#edit_product_page .cms_view .wide{width: 90%;}
#edit_product_page .cms_view .wide.wide50{width: 50px;}
#edit_product_page .cms_view .wide.wide80{width: 80px;}
#edit_product_page .cms_view{border:none;width:900px;border: 1px solid #e8e7e9;}
#edit_product_page .cms_view tbody td{border:none;padding:5px 5px;}
#edit_product_page .cms_view>thead>tr>th{border:none;font-size:12px;font-family: verdana;color:#333;}
#edit_product_page .cms_view>thead>tr, #edit_product_page .cms_view>tfoot>tr{border: 1px solid #e8e7e9;height:45px;}
#edit_product_page .cms_view>tfoot>tr>td{text-align:center;}
#edit_product_page .chosen-container{min-width:252px;}
#edit_product_page .variant_params .chosen-container{min-width:210px;}
#edit_product_page .variant_discount, #edit_product_page .variant_amount, #edit_product_page .variant_price, #edit_product_page .variant_newprice{text-align:center;}

/* cms edit */
.cms_edit{margin: 0px 0px 0px 0px;box-shadow: 0px 0px 1px #ccc;}
.cms_edit>thead>tr>th{background: #e7f8fc;color: #000;font-size: 13px;font-weight: bold;height: 34px;padding: 10px 25px;border-bottom: 1px solid #eee;text-align: center;}
.cms_edit tbody td{padding: 5px;}
.cms_edit tbody tr:first-child td{padding-top: 15px;}
.cms_edit tbody tr:first-child td.null{padding-top: 19px;}
.ui-tabs-panel{padding:0px;background-color:#fff;/*box-shadow: 0px 0px 1px #ccc;*/margin-bottom:0px;}
.cms_edit .error td {background-color: #FFCCCC;border-bottom: 2px solid #F9F9FF;color:red;}
.cms_edit .title{width:30%;vertical-align:top;text-align:right;}
.cms_edit .null{vertical-align:top;text-align:center;width:16px;padding: 9px 2px 4px 2px;}
.cms_edit .text{vertical-align:top;text-align:left;}
/*.cms_edit .text input[type="text"]{width:325px !important;}*/
.saveForm{background: #f7f7fa;color: #000;font-size: 10px;font-weight: bold;height: 34px;box-shadow: 0px 0px 1px #ccc;	padding:6px 0px;text-align:center;}

.switchery {cursor: pointer;display: inline-block;position: relative;vertical-align: middle;width: 32px;height: 10px;-webkit-border-radius: 5px;
		-moz-border-radius: 5px;border-radius: 5px;background-color: #81cdde;}
.switchery>small {position: absolute;top: -2px;width: 14px;height: 14px;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;
		background-color: #ececec;-webkit-box-shadow: -3px 2px 2px rgba(0,0,0,.2), inset -1px 1px #fff;	-moz-box-shadow: -3px 2px 2px rgba(0,0,0,.2), inset -1px 1px #fff;
		box-shadow: -3px 2px 2px rgba(0,0,0,.2), inset -1px 1px #fff;}

.topLinksInline{display: inline-block;vertical-align: top;}
.topLinks a{background-image: url('../delta_img/sprite_icons.png');width: 20px;height: 20px;display: block;float: left;margin: 0px 5px 10px 0px;background-repeat: no-repeat;}
.link_add{background-position: -20px 0px;}
.link_edit{background-position: -70px 0px;width:20px;}
.link_delete{background-position: -120px 0px;}
.link_copy{background-position: -470px 0px;}
.link_filter{background-position: -170px 0px;}
.link_xls{background-position: -220px 0px;}
.link_xml{background-position: -270px 0px;}
.link_update{background-position: -420px 0px;}
.link_test{background-position: -20px -300px;}
.link_export{background-position: -20px -300px;}
.link_queue, .link_import{background-position: -70px -300px;}

.link_add:hover{background-position: 0px 0px;}
.link_edit:hover{background-position: -50px -0px;}
.link_delete:hover{background-position: -100px 0px;}
.link_copy:hover{background-position: -450px 0px;}
.link_filter:hover{background-position: -150px 0px;}
.link_xls:hover{background-position: -200px -0px;}
.link_xml:hover{background-position: -250px -0px;}
.link_update:hover{background-position: -400px 0px;}
.link_test:hover{background-position: 0px -300px;}
.link_export:hover{background-position: 0px -300px;}
.link_queue:hover, .link_import:hover{background-position: -50px -300px;}

span.button_up{background-image: url('../delta_img/sprite_icons.png');width: 15px;height: 11px;display: inline-block;background-position: -200px -100px;}

.aicons,.green .sort, .even .sort,.green .edit, .even .edit, .green .del, .even .del, .odd .sort, .odd .edit, .odd .del, .last_inserted .sort, .last_inserted .edit, .last_inserted .del{
    background-image: url('../delta_img/sprite_icons.png');display: block;width: 22px;height:22px;}
.del{background-position: -95px -98px;}
.edit{background-position: -44px -97px;}
.sort{background-position: 2px -94px;cursor: move;}
.zoom{background-position: -146px -97px;width:20px;}

.aicons:hover, .cms_viewf a:hover{text-decoration: none;}
.aicons.add, .aicons.link_delete, .aicons.link_add{width:20px;}

.aicons.tables{background-position: -150px -50px;width:20px;}

.aicons.up{background-position: -200px -94px;width:20px;}
.aicons.delete{background-position: -250px -93px;width:18px;}
.aicons.plus{background-position: -300px -93px;width:18px;}
.aicons.copy{background-position: -349px -94px;}
.aicons.cart{background-position: -400px -94px;}
.aicons.views{background-position: -449px -94px;}
    .aicons.arrow-prev{background-position: -100px -145px;width:10px;}
    .aicons.arrow-prev-noactive{background-position: -50px -145px;width:10px;}
    .aicons.arrow-next{background-position: -110px -145px;width:10px;}
    .aicons.arrow-next-noactive{background-position: -60px -145px;width:10px;}
    .aicons.arrow-up{background-position: -245px -140px;}
    .aicons.switch{background-position: -400px -147px; }
.aicons.user{background-position: 6px -198px; }
.aicons.bike_user{background:  url('../img/icons/bike_user.png') no-repeat; }
.aicons.reload{background-position: -45px -194px; display:inline-block;height:20px;}
.aicons.download{background-position: -300px -194px;height:26px;}
.aicons.path{background-position: -444px -194px;height:16px;}

    .aicons.s_recom{background-position: 0px -250px;width:80px;}
    .aicons.s_hot{background-position: -100px -250px;width:33px;}
    .aicons.s_new{background-position: -150px -250px;width:33px;}
    .aicons.s_top{background-position: -200px -250px;width:33px;}
    .aicons.s_stock{background-position: -250px -250px;width:46px;}
    .aicons.s_sale{background-position: -300px -250px;width:46px;}

    .aicons.statistics{background-position: -100px -300px; }
    .aicons.clock{background-position: -150px -300px;}
.aicons.filter{background-position: -0px -349px;}
.aicons.info{background-position: -50px -349px;}
.aicons.table_link{background-position: -100px -349px;}
.aicons.warning{background-position: -150px -349px;}
.aicons.save{background-position: -200px -349px;}
.aicons.search{background-position: -248px -346px;width:18px;}
    



.btn .aicons, .aicons.inline{display:inline-block;vertical-align: top;}

span.folder{display: inline-block;width: 18px;height: 12px;background-image:url('../delta_img/sprite_icons.png');background-position: -300px -150px;
		margin-right: 2px;vertical-align: -1px;}


span.folder.grey{background-position: -350px -150px;}
span.edit_text{display: inline-block;width: 9px;height: 12px;background-image:url('../delta_img/sprite_icons.png');background-position: -250px -200px;}
span.ie_style{display: inline-block;width: 17px;height: 18px;background-image:url('../delta_img/sprite_icons.png');background-position: -150px -200px;margin-right: 2px;vertical-align: -2px;}
span.ie_style.grey{background-position: -200px -200px;margin-right: 2px;vertical-align: -2px;}
.formTitle, .formTitle input{font: 13px Verdana,sans-serif;color: #000;}
.formTitle input[name="rows_per_page"]{text-align: center;width: 51px;margin-bottom: 5px;}

.folder{display: inline-block;width: 22px;height: 22px;background-image:url('../img/linksSprite.png');background-position: -97px -27px;
		margin-right: 2px;vertical-align: -5px;}
a.folderName{text-decoration: none;font-size: 13px;color: #238ee4;}


/*----------------------Tabs---------------------*/



/* Layout helpers
----------------------------------*/
.ui-helper-hidden {display: none;}
.ui-helper-hidden-accessible {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.ui-helper-reset {margin: 0;padding: 0;border: 0;outline: 0;line-height: 1.3;text-decoration: none;font-size: 100%;list-style: none;}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {content: "";display: table;border-collapse: collapse;}
.ui-helper-clearfix:after {clear: both;}
.ui-helper-clearfix {min-height: 0; /* support: IE7 */}
.ui-helper-zfix {width: 100%;height: 100%;top: 0;left: 0;position: absolute;opacity: 0;filter:Alpha(Opacity=0);}
.ui-front {z-index: 100;}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {	cursor: default !important;}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {display: block;text-indent: -99999px;overflow: hidden;background-repeat: no-repeat;}

/* Misc visuals
----------------------------------*/

/* Overlays 
.ui-widget-overlay {	position: fixed;top: 0;left: 0;width: 100%;height: 100%;}
.ui-tabs {position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed")

		padding: .2em;padding: 0;}
.ui-tabs .ui-tabs-nav {margin: 0;padding: .2em .2em 0;}
.ui-tabs .ui-tabs-nav li {list-style: none;float: left;position: relative;top: 0;border-bottom-width: 0;padding: 0;
						white-space: nowrap;border-right: 1px solid #e8e7e9;border-top: 1px solid #e8e7e9;border-bottom: 1px solid #e8e7e9;
						background-color:#f7f7fa;}
.ui-tabs .ui-tabs-nav li a{color: #000;font-weight:bold}
.ui-tabs .ui-tabs-nav li:first-child{border-left: 1px solid #e8e7e9;}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {float: left;padding: 8px 13px;text-decoration: none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {border: 1px solid #bcbcbd;background-color: #ffffff;margin-left:-1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{font-weight:bold;color: #ec5054;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active:first-child{margin-left:0}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {cursor: text;}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {cursor: pointer;}
.ui-tabs .ui-tabs-panel {display: block;border: 1px solid #e8e7e9;border-top: none;padding: 6px 0;background: #fff;margin-left: 2px;}
.ui-tabs .ui-tabs-panel.without_paddings{padding: 0px;margin: 0px;}
*/
/*----------------------tab1---------------*/
#tabs form lable, #tabs form .skin-section label{width: 115px;text-align: right;display: inline-block;margin-right: 15px;margin-left: 72px;vertical-align: middle;
				font: 13px/13px Verdana,sans-serif;color:#000;}
#tabs form lable span{color:#dc7073}
#tabs form input{width: 510px;text-align: left;padding: 5px;border: 1px solid #bcbcbd;margin-bottom: 15px;vertical-align: top;font: 13px Verdana,sans-serif;
				color:#000;}
#tabs form input:focus{border: 1px solid #238ee4;}
.addSelect{background: url('../img/linksSprite.png') -129px -28px no-repeat;display: inline-block;width: 23px;height: 23px;position: relative;top:2px;cursor: pointer;}



/* ---------------- !!!!! -CMS views FILTER -------------- */
div.filter-separator-section { border-left: 1px solid #A6B2D5; border-right: 1px solid #A6B2D5; height: 15px; margin: 1px 6px 0; width: 3px; display:inline; }
div.filter-separator-row { border-left: 1px solid #A6B2D5; height: 15px; margin: 1px 6px 0; width: 3px; display:inline; }
div.filter-comment { color:#777; font-size:10px; }
table.filter-form {  margin-bottom:15px; width: 710px;border-spacing: 0px;border-collapse: collapse;}
table.filter-form tr td { font-size:11px; padding:3px 5px;border: 1px solid #e8e7e9; }
table.filter-form tfoot {border: 1px solid #e8e7e9; }
table.filter-form tr.filter-control th {background-color:#F9FAFD;}
table.filter-form tr.filter-control td.filter-control-row { padding:5px;  background-color:#f7f7f7; border:none;}  
table.filter-form tr.filter-control td.filter-control-row a.button { padding:2px 3px 4px; color:#444444 }
table.filter-form tr.filter-control td.filter-control-row a.button:hover { background-color:#f0f0f0; border:1px solid #ddd; padding:2px 2px 4px; }
table.filter-form thead th { background: #e7f8fc;font-size: 12px;line-height:33px;border: 1px solid #e8e7e9;;height: 33px;padding: 0px;    }
table.filter-form tbody tr.filter-table-title th { font-size: 11px;text-shadow: 0px 1px 0px #fff;border: 1px solid #e8e7e9;background: #f7f7fa;height: 28px;padding: 0px;    }
/*table.filter-form tr.filter-row td input, select { font-size:11px; border:1px solid #7F9DB9; color:#333; } 
 
table.filter-form tr.filter-row td select { padding:0px 3px; }  
table.filter-form tr.filter-row td input.filter-wide { width:400px;  }
table.filter-form tr.filter-row td select.filter-wide { width:400px;  }*/
table.filter-form tr.filter-row td input { padding: 4px 5px; }
table.filter-form tr.filter-row td input.filter-short, select.filter-short { width:100px; }
table.filter-form tr.filter-row td.title { text-align:right; font-size:12px; }
table.filter-form tr.filter-row td {  }
table.filter-form tr.filter-row:hover { background-color:#f7f7f7; }
div.filter-select-box { -moz-user-select: none;	position: absolute;display:none;z-index: 100; 	background:#FCFCFC;border: 1px solid #CCCCCC;padding: 1px;margin: -1px 0px 0px 0px; 
	min-width:250px;min-height:50px;}
div.filter-select-box div.filter-select-list { padding:1px; cursor:pointer; }
div.filter-select-box div.filter-select-list:hover{ border:1px solid #ccc; background-color:#f3f3f3; padding:0px; }
div.filter-select-box div.filter-select-list div.checkbox{ float:left; margin:2px 5px; } 
div.filter-select-box div.filter-select-list div.title{ float:left; margin:2px 5px; }
div.filter-select-box div.table { border-bottom: 1px solid #DCDCDC; color: #333; font-size: 10px; font-weight: bold; margin: 5px 0 5px 31px; padding-left:4px; }
table.filter-form .btn{padding:1px 7px;}
.filter-row .chosen-container.chosen-container-single{width:325px !important;}
/* ----------------- end FILTER -------------- */

/** --- navigation -- **/
.delta-navigation{padding-top:10px;line-height:18px;vertical-align: top;}
.delta-navigation .nav{background: #f6f6f6 url('../delta_img/sprite_icons.png') no-repeat;width:16px;height:16px;display:inline-block;vertical-align: top;
box-shadow:0px 0px 1px #363636;border-radius:1px;margin:0px 2px;}
.delta-navigation a.nav-first{background-position:5px -395px;}
.delta-navigation a.nav-prev{background-position:-9px -395px;}
.delta-navigation a.nav-next{background-position:-27px -395px;}
.delta-navigation a.nav-last{background-position:-39px -395px;}
.delta-navigation a:hover{text-decoration:none;}
.delta-navigation span.nav-first{background-position:5px -407px;}
.delta-navigation span.nav-prev{background-position:-9px -407px;}
.delta-navigation span.nav-next{background-position:-27px -407px;}
.delta-navigation span.nav-last{background-position:-39px -407px;}

.delta-navigation .chosen-container {width:56px !important;}
.delta-navigation .chosen-container-single .chosen-single {box-shadow:0px 0px 1px #363636;border-radius:1px;border:none;height:18px;padding-left:2px;}
.delta-navigation .chosen-container-single .chosen-single span {font-size:11px;line-height:18px;}
.delta-navigation .chosen-container .chosen-drop {border:none;font-size:11px;line-height:12px;box-shadow:0px 0px 1px #363636;}
.delta-navigation .chosen-container .chosen-results {margin-left:0px;padding-left:0px;}
.delta-navigation .chosen-container .chosen-results li {padding-left:2px; line-height: 12px;}
.delta-navigation .chosen-container-single .chosen-single div b  {background-position-y:0px;}
.delta-navigation .chosen-container-active.chosen-with-drop .chosen-single div b {background-position-y: 0px;}


#boxscroll {
	padding: 40px;
	height: 220px;
	width: 300px;
	border: 2px solid #00F;
	overflow: auto;
  margin-bottom:20px;
}
#boxscroll2 {
	padding: 40px;
	height: 120px;
	width: 730px;
	border: 2px solid #F00;
	overflow: auto;
}
#boxscroll3 {
	overflow: hidden;
}
#boxframe {
	position:absolute;
	top:28px;
	left:420px;
	width:400px;
	height:300px;
	overflow:auto;
	border: 2px solid #0F0;
}
#boxscroll4 {
	height: 300px;
	margin-top: 40px;
	background-color: #00FF66;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	padding: 20px;
	color: #006633;
	overflow: auto;
}
.nicescroll-rails{background-color:#e0e0e0;box-shadow: 1px 1px 2px -1px #a5a5a5 inset;}
.nicescroll-rails>div{width:6px;}
.list li{list-style: none;}
#tabs form .skin-section label{margin-bottom: 15px;vertical-align: 0;}
.skin.skin-futurico{margin-left:-40px}
form > span{font: 10px Verdana,sans-serif;color: #646464;margin-left:209px;position: relative;top:-28px;}
form > span.comment{ margin-left: 0px; top: 0px; position: static; }

.saveForm button, .bottom.over button, .save_changes{padding: 5px 15px;background-color: #f6f6f6;border: 1px solid #9d9d9d;cursor:pointer;margin-left: 0px;border-radius: 2px;
        font-weight: bold;font-size:11px;line-height: 18px;font-family:Verdana;}
.saveForm button i, .bottom.over button i{background: url('../delta_img/sprite_icons.png') 0px -150px no-repeat;display: inline-block;width: 13px;height: 12px;vertical-align: -2px;margin-right: 5px;}
.saveForm.right{overflow: hidden;padding-left: 0px;padding-right: 100px;}
.saveForm.right button{float:right;}
button{padding: 5px 15px;background-color: #f6f6f6;border: 1px solid #9d9d9d;cursor:pointer;/*margin-left: 186px;*/border-radius: 2px;}
button.left{margin-left: 0;}
button i{background: url('../delta_img/sprite_icons.png') 0px -150px no-repeat;display: inline-block;width: 13px;height: 12px;vertical-align: -2px;margin-right: 5px;}

/* btn */
.btn{display: inline-block;padding: 3px 12px;margin-bottom: 0;font-weight: bold;font-size:11px;height: 23px;line-height: 24px;font-family:Verdana;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;border: 1px solid rgb(102, 154, 233);background:#cbe0ff;}
.btn:hover{color: #ffffff;}
.btn-success {color: #ffffff;background-color: #5cb85c;border-color: #4cae4c;}
.btn-success:hover {color: #ffffff;background-color: #47a447;border-color: #398439;}
.btn-grey{ color: #000;background-color: #f6f6f6;border: 1px solid #cccccc;border-color: #c9c9c9 #c9c9c9 #d4d4d4;border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.25);border-bottom-color: #9d9d9d;border-radius: 1px;}
.btn-grey:hover {color: #d65054;text-decoration:none;}
.btn-danger {color: #ffffff;background-color: #d9534f;border-color: #d43f3a;}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {    color: #ffffff;    background-color: #d2322d;    border-color: #ac2925;}
.btn-save i{ width:15px;height:18px;display:inline-block;background:#f6f6f6 url('../delta_img/sprite_icons.png') 0px -146px no-repeat; padding:0px;}
.btn-save__wrap::before{content:'';width:15px;height:18px;display:block;position:absolute;top:7px;left:8px; 
       background:#f6f6f6 url('../delta_img/sprite_icons.png') 0px -146px no-repeat;}
.btn-save__wrap .btn-save{padding-left:25px;}

button.btn{height:30px;}
.btn-noactive{color: #6D6D6D;background-color: #E9E9E9;border: 1px solid #E0E0E0;}
.btn-noactive:hover{color: #6D6D6D;cursor:default;}
.btn-grey.small{padding:1px 7px;}
/* end button */


.manipulationLinks{display: inline-block;padding: 7px 10px;border: 1px solid #9d9d9d;background-color: #f5f5f5;text-decoration: none;color: #000;font: 13px Verdana,sans-serif;
					margin-bottom: 15px;}
.manipulationLinks:first-child{margin-left: 5px;}					
.manipulationLinks i{display: inline-block;background: url('../img/linksSprite.png') no-repeat;width: 20px;height: 16px;margin-right: 5px;vertical-align: -2px;}
#pic1{background-position: 2px -52px;}
#pic2{background-position: -26px -52px;}
#pic3{background-position: -59px -52px;}
#pic4{background-position: -93px -52px;}
#pic5{background-position: -127px -52px;}
#pic6{background-position: -161px -52px;}
.manipulationLinks.active{color:#d65054}

/* .modal-delta */
.modal-delta-content {width: 600px;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);background-color: #FFF;border: 1px solid rgba(0, 0, 0, 0.2);border-radius: 6px;outline: 0 none;}
.modal-delta-header {border-bottom: 1px solid #E5E5E5; padding: 15px;}
.modal-delta-content button.close { padding: 0; cursor: pointer; background: 0 0; border: 0;  -webkit-appearance: none;}
.modal-delta-content .close {float: right;  font-size: 21px;  font-weight: 700;  line-height: 1;  color: #000;   text-shadow: 0 1px 0 #fff;    opacity: .2;   filter: alpha(opacity=20);}
.modal-delta-body p, .modal-delta-header h4 {margin: 0;}
.modal-delta-body { padding: 20px;}

table.cms_edit .chosen-container-single .chosen-single, .table-row .chosen-container-single .chosen-single, #search .chosen-single{margin-bottom: 0px;}

/*------ Left Menu---------------*/
.leftMenu{background-color: #fff;width: 215px;}
.leftMenu > div{background:url('/design/cms/delta_img/menu-line.jpg') 33px bottom no-repeat;/* border-bottom: solid 1px #e8e7e9;*/padding: 5px 0 5px 5px;}
.leftMenu > div:last-child{background: none;}
.siteName{clear:both}
.siteName a{display:block;float:left;text-decoration: none;}
.leftMenuBack{width: 22px;height: 22px;background: url('../img/leftMenu-sprite.png') -100px -50px no-repeat;}
.siteName .leftMenuOff{float:right;margin-right:5px}
.clearB{clear:both;float:none !important;}
.leftMenuName{font: 400 13px/21px Verdana,sans-serif;color:#000;text-decoration: none;margin-left:27px}
.leftMenuOff{width:21px; height:21px; background: url('../img/leftMenu-sprite.png') 0 0 no-repeat;}
.mainBlocks{clear:both}
.mainBlocksCover > .mainBlocksText{text-decoration: none;font: bold 13px/20px Verdana,sans-serif;color:#000;cursor:pointer;vertical-align: bottom;}
.mainBlocksIco{display:inline-block;width:20px;height:20px;background: url('../img/leftMenu-sprite.png') no-repeat;}
.mainBlocksText{margin-left:3px;display:inline-block;}
.innerBlocks{/*border-top: solid 1px #e8e7e9;*/background:url('/design/cms/delta_img/menu-line.jpg') 28px top no-repeat;margin-top:3px;padding-left:22px;}
.innerBlocksValue{clear:both;cursor:pointer}
.innerBlocksValue.hasChildren{margin-left:6px;}
.innerBlocksValue.hasChildren > a{background:url('/design/cms/delta_img/menu-line.jpg') 12px bottom no-repeat;}
.innerBlocksValue a:hover .innerBlocksText{color:#ec5054}
.innerBlocksValue a > div{float:left}
.square{width:7px;height:7px;margin-top:7px;}
.innerBlocksText{font: 400 13px/21px Verdana,sans-serif;color:#000;margin-left:5px}
.innerBlocksValue a{text-decoration: none;display:block}
.innerBlocksValue .innerBlocksValue{/*border-top: solid 1px #e8e7e9;*/padding-left:17px;}
.banners{background-position: -50px 0;}
.innerBlocksValue.nolink .innerBlocksValue:nth-child(2){border-top: solid 1px #e8e7e9;}
.square.changed{background-color: #ec5054}
.square{background-color: #70c8dc}


.leftMenu .cms{background-position: -70px 0;}
.leftMenu .site{background-position: -120px 0;}
.leftMenu .gallery{background-position: -170px 0;}
.leftMenu .banner{background-position: -220px 0;}
.leftMenu .maillist{background-position: -270px 0;}
.leftMenu .currency{background-position: -320px 0;}
.leftMenu .seo{background-position: -370px 0;}
.leftMenu .shop{background-position: -420px 0;}
.leftMenu .user{background-position: -470px 0;}
.leftMenu .settings{background-position: -20px -50px;}
.leftMenu .logs{background-position: -70px -50px;}
.leftMenu .auto{background-position: -170px -50px;}
.leftMenu .smslist{background-position: -220px -50px;}
.leftMenu .kakadu{background-position: -220px -50px;}

.leftMenu .cms.changed{background-position: -50px 0;}
.leftMenu .site.changed{background-position: -100px 0;}
.leftMenu .gallery.changed{background-position: -150px 0;}
.leftMenu .banner.changed{background-position: -200px 0;}
.leftMenu .maillist.changed{background-position: -250px 0;}
.leftMenu .currency.changed{background-position: -300px 0;}
.leftMenu .seo.changed{background-position: -350px 0;}
.leftMenu .shop.changed{background-position: -400px 0;}
.leftMenu .user.changed{background-position: -450px 0;}
.leftMenu .settings.changed{background-position: 0px -50px;}
.leftMenu .logs.changed{background-position: -50px -50px;}
.leftMenu .auto.changed{background-position: -150px -50px;}
.leftMenu .kakadu.changed{background-position: -200px -50px;}

.mainBlocks>.innerBlocks{display: none;}
.hasChildren>div{display: none;}


/* web links */
div.web_link{ padding: 5px 15px;background-color: #f6f6f6;border: 1px solid #9d9d9d;cursor: pointer; margin-left: 0px; border-radius: 2px;  position: fixed; right: 15px; bottom: 15px;}
div.web_link i{background: url('../delta_img/sprite_icons.png') -400px -150px no-repeat;display: inline-block;width: 17px;height: 17px;vertical-align: -2px;margin-right: 5px;}
div.web_link:hover { box-shadow: -1px -1px 1px #dcdcdc;  }
div.web_link a { color:#000;font-size:12px;line-height:19px;text-shadow:1px 0px 1px #fff; }
div.web_link:hover a, div.web_link a:hover { color: #ec5054;text-decoration: none;}

div.cms_privileg {margin:5px;padding:7px;text-align:center;	background:#4b0404;color:#fff;border-radius:2px;}
div.cms_privileg a {color:yellow;text-decoration:underline;}




/* gallery */
.gallery_image_layer_toolbar {text-align: right; padding-bottom:7px;}
.gallery_image_layer_toolbar div{float:left; font-size:11px;line-height:20px;color:#333;font-family: Verdana;}
.gallery_image_layer {border: 1px solid #bcbcbc; margin: 3px;float: left; height: auto; background-color: #fff;padding:7px;}
.gallery_image_layer.disabled{background-color: #dcdcdc;}
.image_holder {border: 1px solid #bcbcbc;}
.ui_gallery .edit, .ui_gallery .zoom, .ui_gallery .add{
    background-image: url('../delta_img/sprite_icons.png');width: 20px;height: 20px;display: inline-block;}
.ui_gallery .add{background-position: -295px -95px;}
.ui_gallery .del{border: 1px solid #bcbcbc;display:block;background-color:#f6f6f6;font-size:12px;color:#000;
    text-shadow: 0px 0px 1px #D8D8D8;text-align:center;padding:7px 0px;margin-top:7px;border-radius:2px;}
.ui_gallery .del:hover{background-color:#70c8dc;}
.ui_gallery a:hover{text-decoration: none;}
.ui-sortable-helper{border-color:#70c8dc;background-color:#70c8dc;}
.ui-sortable-helper .image_holder{opacity:0.7;}
/****** end gallery **********/


/* idtabs */
#menuTabs, #idTabs{margin-top:10px;}
ul.menuTabs__ul {padding: 0; margin: 0; list-style: none; float: left;box-shadow: -1px 0px 0px #dfdfdf;}
ul.menuTabs__ul > li {display: inline;}
ul.menuTabs__ul > li > a{background: #f7f7fa; float: left; display: block; 
                                       color: #000; padding: 10px 25px 10px 25px; 
line-height: 1.2em; text-decoration: none; font-weight: bold; border: 1px solid #e8e7e9;  border-left: none;}
ul.menuTabs__ul > li a.selected, ul.menuTabs__ul .ui-tabs-active  a{background-color:#fff;color:#ec5054;border-bottom: none;padding-bottom: 11px;}
ul.menuTabs__ul > li a.selected:hover , ul.menuTabs__ul .ui-tabs-active a:hover{cursor:default;color:#ec5054}
ul.menuTabs__ul li a:hover {color:#ec5054;}


/* gallery_form */
.ui_gallery__form{margin-left:3px;}
.ui_gallery__form .ui-widget input[type=file]{margin-left:-50px;width:50px;cursor:pointer;}
.ui_gallery__form .ui-state-default .ui-icon.ui-icon-circle-plus{position: absolute;
top: 50%;
margin-top: -8px;left: .5em;
    background: url('/design/cms/delta_img/sprite_icons.png') -299px -97px no-repeat;width: 16px;
height: 16px;
    display: inline-block;
}
.ui_gallery__form .ui-button{font-weight: normal;
padding: 0px;
background-color: #f6f6f6;
border: 1px solid #9d9d9d;
cursor: pointer;
margin-left: 0px;
border-radius: 2px;
color: #000;
font-size: 12px;
line-height: 19px;
text-shadow: 1px 0px 1px #fff;

display: inline-block;
position: relative;
padding: 3px 0px;
line-height: normal;
margin-right: .1em;
cursor: pointer;
vertical-align: middle;
text-align: center;
overflow: visible;
}
.ui_gallery__form .ui-widget-content{background:none;border:none;clear:both;}
.ui_gallery__form .ui-widget-header{background:#70c8dc;}
.ui_gallery__form .percentage{color:#70c8dc;}
.ui_gallery__form .filename, .ui_gallery__form .status{float: left;line-height: 25px;margin-right: 15px;}
.ui_gallery__form .status{color: #238ee4;}
.ui_gallery__form .progress{display:none;width: 40%;float: left;margin-right:15px;height:20px;}
.ui_gallery__form .progressBar{width: 100%;clear:both;}
.ui_gallery__form .uploading{display:block;clear:both;}
.ui_gallery__form .ui-button-text-icon-primary .ui-button-text{padding-top:3px;padding-bottom: 3px;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
padding: .4em 1em .4em 2em;text-shadow: 1px 0px 1px #fff;}

.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}

/*#idTabs .chzn-container .chzn-results {float:none;}
#idTabs .chzn-container .chzn-results .active-result {display: block;}*/

.cms_view tbody td.params_type{padding-top:4px;}
.params_type input[type=text]{width:300px;}

input.date {
	background: white url(../delta_img/calendar.png) center right no-repeat;
	width:110px;
}