body {
	margin: 0;
	padding: 0;
	font: 13px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: White;
}
td {
	font: 13px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
ul,ol{
	margin-top: 0px;
	margin-bottom: 0px;
}
form {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

textarea{border:1px solid #bcbcbd;}
a {
	color : #238ee4;
	text-decoration : none;
}
a:hover {
	color : #238ee4;
	text-decoration : underline;
}
a.green, span.green {
	color: #00CC00;
}
a.red, span.red {
	color: #FF0000;
}
span.comment {
	color: #A3A3A3;
font-size: 11px;
line-height: 15px;
}
span.asterix {
	color:red;
}
acronym {
	border-bottom: 1px dashed #AAAAFF;
}
.flexible {
	width: 100%;
}
img.move {
	cursor:move;
}
h1, h2 {
	color: #000;
	font-size: 20px;
	font-weight: normal;
	font-family: Georgia, Times, Tahoma, Arial, Verdana;
	margin-top: 10px;
	padding-bottom:0px;
	margin-bottom:0px;
}
h3 {
	color: #ec5054;
	font-size: 13px;
	margin-top: 0px;
	padding-left: 0px;
	padding-bottom:0px;
	margin-bottom:0px;
}
h1.error, h2.error, h3.error {
	color: red;
}
pre {
	font-size: 12px;
}
code {
	font-size: 12px;
}
#error {
 color: #FF0000;
}
.selected_menu {
	color: #ec5054;
	font-weight:bold;
}
td.red {
	background-color:#FFD6D6;
}
td.green {
	background-color:#C9FFB9;
}
td.yellow {
	background-color:#FEF3B8;
}

div.logolist {
	border:1px #000 solid;
	margin:20px;
	padding:5px;
}
div.logolist img {
	float:left;	
}
div.logolist input {
}
div.delfloat {
	clear:both;
	height:1px;
	font-size:1px;	
        display:none;
}




.null_value, input[type='text'].null_value {
	background-color:#f0f0f0;
	color:silver;
}
.disabled {
	filter: alpha(Opacity=30);
	opacity: 0.5;
	-moz-opacity:0.5;
}
div.context_help {
	box-shadow: 0px 0px 1px #ccc;
	padding: 10px 10px 10px 10px;
	margin: 5px 0 5px 0;
	text-align: justify;
	font-size: 10px;
	color: gray;background: #e7f8fc;
}
td.menu {
	background:#fff;
	border-right: 1px solid silver;
	vertical-align: top;
	width: 205px;
	
}
.cmsLogo{background: #fff url(/design/cms/img/DeltaLogo.png) 5px 15px no-repeat;padding: 50px 0px 5px 0px;border-bottom: 1px solid #f1f1f1;}
td.content {
	padding: 0px 10px 15px 10px;
	vertical-align: top;
}

td.menu a{color:#000;}

div.delta_error { border:1px solid #94000c; color:#94000c; margin:5px; padding:20px; background-color:#ffefeb; background-repeat:no-repeat; box-shadow:1px 1px 1px #fff inset;  }
div.delta_success { border:1px solid #276630; color:#276630; margin:5px; padding:20px; background-color:#edf8ee; background-repeat:no-repeat; box-shadow:1px 1px 1px #fff inset;  }
div.delta_warning { border:1px solid #f39e0e; margin:5px; padding:20px; background-color:#fbecce; background-repeat:no-repeat; box-shadow:1px 1px 1px #fff inset; }
div.delta_warning a {color:#1873B4;}
div.delta_info { border:1px solid #ccc; margin:5px; padding:20px; background-color:#fff; color:#666; box-shadow:1px 1px 1px #fff inset; }


div.vertical {
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
	padding: 2px 2px 2px 2px;
	/* height:100px; */
}
span.button {
	background-clip: padding-box;
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
	border: 1px solid #AAAAAA;
	
	color: #444444;
	display: block;
	height: 23px;
	line-height: 24px;
	overflow: hidden;
	padding:2px 10px 5px 5px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	margin:10px 2px;
}
span.button:hover{ box-shadow: 0 0 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1); } 
span.button img { margin:2px; }
span.button a { color:#444444; text-decoration:none; }
span.button a:hover { color:#000; }

table.vertical {
	border: 1px solid #e8e7e9;
        margin-bottom: 10px;border-spacing: 0px;
       
}
table.vertical td {
	padding: 7px;
	vertical-align:top;
       
}
table.vertical thead td, table.vertical tfoot td {
   background: #f7f7fa;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    height: 15px;line-height: 15px;   border-top: 1px solid #e8e7e9;
}

table.vertical th {
	padding: 2px;
	font-weight: bold;
	background-color: #F0F0F0;
	font-size: 12px;
}
table.vertical td.title {
	width: 180px;
	text-align: right;
}
table.vertical td.selected {
	font-weight:bold;
	color:blue;
}
table.vertical input.vertical,
table.vertical textarea.vertical {
	width: 100%;
}
table.vertical caption {
	padding: 10px 0 0 0;
	text-align: left;
	font: bold 14px Verdana,Tahoma,Arial;
	color: #0038AB;
}



table.title td.left {
	text-align:right;
	border-bottom:1px #e6e6e6 solid;

}
table.title td.right {
	text-align:left;
	font-weight:bold;
	border-bottom:1px #e6e6e6 solid;
}
table.title td.right img {
}
table.horisontal {
	width: 100%;
}
table.horisontal td {
	background-color: #F1F7FF;
	text-align:center;
}
table.horisontal thead td {
	background-color: #CEE3FF;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
table.horisontal tfoot td {
	background-color: #E8F2FF;
	text-align: center;
	vertical-align: middle;
}
table.horisontal td.title {
	padding-right: 5px;
	font-weight: bold;
	text-align: right;
	width: 150px;
}
table.horisontal input.transparancy {
	width : 100%;
	border-width : 0px;
	background-color : transparent;
	text-align : center;
}
.inline-table {margin-right:2%;min-width:550px;}
.inline-table table{min-width:550px;}

table.vertical .wth_padding td{padding:15px 7px;}

.wth_border td{border-top: 1px solid #CCCCCC;}

table.vertical tbody .wth_border td{padding:12px 10px;}
.wth_border:nth-of-type(even) {background-color: #F7F7F7;}

table.popup {
	border: 1px solid #B22222;
	width: 250px;
}
table.popup th {
	background-color: #B22222;
	font-size: 11px;
	color: white;
	font-weight: bold;
}
table.popup td {
	background-color: #FFEABB;
	padding: 3px;
	font-size: 11px;
	text-align: justify;
}


#ajaxPreloader,
.ajaxPreloader {
	border:1px solid #B4DAFF;
	position:absolute;
	background: white;
	left:400px;
	top: 50px;
	padding: 40px 40px 40px 40px;
	text-align:center;
	display:none;
}



/**
 * ??????? ? ???????
 */
table.form {
	width: 100%;
}
table.form td {
	padding: 5px 0 5px 10px; 
}
table.form td.title {
	vertical-align: top;
	width: 25%;
	text-align: right;
	font-weight: bold;
}
div.form_title {
	color: #4475DB;
	margin-top: 20px;
	padding-left: 170px;
	font-weight: bold;
	font-size: 16px;
}

span.asterix {
	color:red;
}
table.form thead td {
	font-weight: bold;
}
table.form td.error {
	color:red;
	font-weight:bold;
}
table.form td.ok {
	color:#0099CC;
	font-weight:bold;
}


@media print {
	table.main thead td.page_head {
		display:none;
	}
	table.main td.menu {
		display: none;
	}
	#mode, #exit, #log_message {
		display: none;
	}
	table.cms_view td {
		border-right: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
	}
	table.cms_view thead td, table.cms_view th {
		border-right: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
	}
	.noprint {
		display: none;
	}
}
table.stuff {
	border:1px gray solid; 
	text-align: center;
	height:200px;
	width:200px;
}
table.stuff td.title { 
	border-bottom:1px gray solid; 
	font-weight: bold; 
	text-transform:capitalize;
}
table.stuff td.colred {
	color:red;
}
table.stuff td.bordred {
	border: 1px red solid;
}
table.stuff td.bcred {
	color:red;
	border: 1px red solid;
}

/* ?????????? ??????????????? ?????? ? ???? select */
.level_0 {color : #000000;font-weight:bold;}
.level_1 {color:#ec5054;}
.level_2 {color:#238ee4;}
.level_3 {color:green;}
.level_4 {color:orange;}
.level_5 {color:gray;}
.level_6 {color:silver;}

/* ???????????? ????? ajax ?????? */
div.ajax_select_hint {
	position: absolute;
	top: 0; left: 0;
	display: none;
	border: 1px solid #7F9DB9;
	background-color: white;
	padding: 0px;
	width: 342px;
	overflow:auto;
}
div.ajax_select_hint div {
	cursor: pointer;
	padding: 2px 5px 2px 5px;
}
div.ajax_select_hint div.over {
	color: white;
	background-color: #316AC5;
}

div.domain {
	padding: 3px; 
	border:1px #000 solid;
}
div.domain input {
	clear:both;
	margin:0 5px;
}

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}



/* idtabs */
/*#idTabs ul {padding: 0; margin: 0; list-style: none; float: left; border-left: 1px solid #e8e7e9;}
#idTabs ul li {display: inline;}
#idTabs ul li a, #idTabs li a:visited {background: #fff; float: left; display: block; font-family: Tahoma; font-size: 12px; 
                                       color: #000; padding: 10px 25px 10px 25px; 
line-height: 1.2em; text-decoration: none; font-weight: bold; border: 1px solid #e8e7e9; border-bottom: none; border-left: none;}
#idTabs ul li a.selected {background-color:#f7f7fa;border-left: 1px solid #bcbcbd;border-right: 1px solid #bcbcbd;border-top: 1px solid #bcbcbd;color:#ec5054}
#idTabs ul li a.selected:hover {cursor:default;color:#ec5054}
#idTabs ul li a:hover {color:#ec5054;}
#idTabs .bottom_line {
width: 100%;
height: 1px;
background: #C5CDD4;
}

#idTabs .chzn-container .chzn-results {float:none;}
#idTabs .chzn-container .chzn-results .active-result {display: block;}
*/

#ajax_info_add {
	position: absolute;
	border:1px solid #8E0000;
	padding: 20px;
	width: 350px;
	display: none;
}

#ajax_info_add_title {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 15px;
}
.img_info_add {
	position: relative;
	top: 2px;
	border:none;
}
#ajax_info_add_parent {
	display: block;
	margin-bottom: 5px;
	display: none;
	font-weight: bold;
}



/**
	????? ??? ????????????? 
*/

a.page_list {
	margin:5px;
	font-weight:bold;
	padding:5px 8px;
	background-color:#E6F0FA;
	height:30px;
	text-decoration:none;
	text-align:center;
	width:30px;

	/*Firefox*/
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	
	/*Chrome, Safari*/
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}
span.page_list {
	background-color:silver;
	color:white;
	font-weight:bold;
	margin:5px;
	padding:5px 8px;
	height:30px;
	text-align:center;
	width:30px;

	/*Firefox*/
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	
	/*Chrome, Safari*/
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}


div.doc {
	float:left;
	padding:6px;
	margin:15px;
	border:1px solid #ccc;
	color:#000 !important;
}
div.doc a {
	color:red;
}

