BODY {
	margin: 0 0 0 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	background-color: #f0f0f0;
}
TABLE.main {
	width : 100%;
	height: 100%
}
TABLE.main TD {
	width: 100%;
	height: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: #CC6600;
	text-align: center;
	vertical-align : middle;
}
input.border {
	border : 1px solid #9999CC;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
input.text {
	width: 150px;
}
INPUT.button {
	color: #CC6600;
	font-weight : bold;
}
div.form {
	margin:auto;
	text-align:left;
	width : 500px;
	border: 1px solid #999999;	
	background: white url(/design/cms/img/ui/lock.jpg) 10px center no-repeat;
}
div.form div {
	margin: 5px 5px 5px 150px;
}
A.signature {
	font-size : 11px;
	color: #CC6600;
	text-decoration : none;
}
A.signature:HOVER,
A.forgot:HOVER {
	color: #FF9900;
}
A.forgot {
	color: #CC6600;
}	

div#captcha_html {
	margin: 0;
	padding: 0;
}
div#captcha_html a {
	color: #CC6600;
}