TABLE.calendar {
	color : #ffffff;
	background-color : #a9a9a9;
}
TABLE.calendar TD {
	font-family : Arial,Helvetica,Sans-serif;
	font-size : 11px;
}
td.cal{
	color : #000000;
	background-color : #FFFFFF;
}
td.calDaysColor {
	color : #ffffff;
	border-right : 1px solid White;
	background-color : #3173B5;
	text-align : center;
}
td.calWeekend {
	color : #ffffff;
	background-color : #FBF6EE;
}
td.calBgColor {
	color : #ffffff;
	background-color : #d3d3d3;
}
td.calHighlightColor {
	color : #ffffff;
	background-color : #9B9FF2;
}
A.cal {
	color : #000000;
	text-decoration : none;
}  
A.cal:Hover {
	color : #000000;
	text-decoration : none;
} 
.no_date {
	color : #808080;
	text-decoration : none;
}  
