body {
	background-color:#F9F9F9;
}
/* 
TABLE.footer {
	width:100%;
}
TABLE.footer TD {
	color: #999999;
	background-image : url(/design/cms/img/ui/cms_footer_bg.gif);
	background-color: #EEEEEE;
	height: 21px;
	border-top: 1px solid #999999;
	text-align: right;
	padding: 0 0 0 0;
}
*/
div.footer p {
	margin:5px 0;
}
div.footer {
	margin:20px 0 0 255px;
}

/* Разделитель */
TABLE.cms_edit {
	background-color: #F9F9F9;
	clear:both;
	border-collapse:collapse;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width:100%;
	border-top:1px solid silver;
	margin-top:-1px;
}
TABLE.cms_edit TD {
	padding: 4px 2px 4px 2px;
}
TABLE.cms_edit TD.null {
	vertical-align: top;
}
TABLE.cms_edit TD.title {
	vertical-align: top;
	text-align: right;
	width: 30%;
}
TABLE.cms_edit TD.text {
	width: 70%;
}
TABLE.cms_edit TR.error TD {
	background-color: #FFCCCC;
	border-bottom: 2px solid #F9F9FF;
}
TABLE.cms_edit A {
	text-decoration: underline;
}
SPAN.error {
	color: red;
	font-weight: bold;
}





/**
* Счетчики количества введенных в текстовое поле символов
*/
DIV.countTextField {
	font-size : 10px;
	display : none;
}
DIV.countTextField_bar {
	border-top : 1px solid black;
	border-bottom : 1px solid darkgray;
	border-left : 1px solid black;
	border-right : 1px solid darkgray;
	background-color : #f0f0f0;
	width : 300px;
	height: 7px;
	overflow : hidden;
}
DIV.countTextField_bar DIV {
	border-top : 1px solid white;
	border-bottom : 1px solid white;
	border-left : 1px solid white;
	border-right : 1px solid white;
	background-color : red;
	overflow : hidden;
	height: 5px;
	width : 0px;
}
DIV.countTextField_counter {
	left : 0px;
	position : relative;
}
DIV.countTextField_counter INPUT {
	border: none;
	border-top: 0px solid white;
	border-bottom: 0px solid white;
	border-left: 0px solid white;
	border-right: 0px solid white;
	width : 30px;
	background-color: transparent;
	color : darkgray;
	overflow : visible;
	font-size : 10px;
	font-family : Tahoma,Verdana,Geneva,Arial;
}
/**
 * Конец счётчиков
 */
 
 
ul {
	margin:0 0 0 5px;
	padding:0;
}
#tabs li a.selected {
	background-color: #F9F9F9;
	border-bottom:1px solid #F9F9F9;
	color:black;
	border-bottom:1px solid #f9f9f9;
	border-top:1px solid silver;
	border-right:1px solid silver;
	border-left:1px solid silver;
}
#tabs li {
 	float:left;
 	list-style-type:none;
}
#tabs li a {
	display:block;
	z-index:200;
 	border-bottom:1px solid #fff;
 	padding:3px 10px;
 	margin:1px 1px 0px 0;
 	background-color:silver;
 	color:white;
 	outline:none;
}
#tabs li a.error {
	color:red;
}
input.submit {
	background-color: lightblue;
}
 