.bs-block {
    
}  
.bs-block > .btn, .bs-block > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
button, input, select, textarea {
    margin: 0;
}
.btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
}
    .btn:hover, .btn:focus {
        color: #333333;
        text-decoration: none;
    }    
        .btn:hover, .btn:focus {
        color: #333333;
        text-decoration: none;
    }
    .btn-default {
        color: #333333;
        background-color: #ffffff;
        border-color: #cccccc;
    }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: #333333;
        background-color: #ebebeb;
        border-color: #adadad;
}    
    .btn-success {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }    
    .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
        color: #ffffff;
        background-color: #47a447;
        border-color: #398439;
    }
    
.btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}   
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.btn-primary {
    color: #ffffff;
    background-color: #428bca;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

.modal-dialog {
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 768px)
{
    .modal-dialog {
    right: auto;
    left: 50%;
    width: 600px;
    padding-top: 150px;
    padding-bottom: 30px;
    }
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

@media screen and (min-width: 768px) {
    .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-header .close {
    margin-top: -2px;
}

.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
div.alert {
    background: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
}

.alert > p, .alert > ul {
    margin-bottom: 0;
    margin-top: 0;
}

.alert h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

div.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

div.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

div.alert-fade{
    margin: 0px;
    width: 566px;
    position: absolute;
}

select { width: 350px; margin-top: 10px; }
.right_column select { width: 100%; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea.users{
    width: 450px;
    height: 200px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {    
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

div.left_column{ float: left; width: 70% }
div.right_column{ float: left;  padding: 10px; }

div.mail_header{margin: 10 0px; margin-bottom: 15px; }
td.mail_head{ width: 85%; }
table.mail_template { width: 100%; }
td.mail_head input{ width: 98%; height: 27px; }

#params { padding-top: 8px; }
#params .chosen-container{ margin-bottom: 5px; display: block; max-width: 200px; }

table.tour_choose {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 10px;
}

table.tour_choose tr td{
    padding-left: 10px;
    border: 1px solid #dddddd;
}

table.tour_choose tr td:first-child {
    text-align: center;
    padding: 10px;
}

table.tour_choose tr:nth-child(odd){
    background: #f5f5f5;
}

    div.emails {margin-top: 50px;}
    ul.list_emails {list-style: none; padding: 0px; margin: 0px; margin-top: 0px; }
    ul.list_emails li {float: left; min-width: 400px; max-width: 400px; display: block; margin-top: 4px; overflow: hidden;}
    ul.list_emails li span{ background: #f0f0f0; padding: 5px; }
    ul.list_emails li span input[type="checkbox"]{ max-width: 20px; vertical-align: middle; }
    ul.list_emails li label{ background: #f0f0f0; padding: 5px; display: inline-block; width: 85%;}