BODY {
	padding: 2px 0px 0px 2px;
	font: 12px Tahoma,Arial;;
	margin: 0px 0px 0px 0px;
	CURSOR: default;
	COLOR: #303070;
	background: #ffffff;
}

A {
	COLOR: #303070;
	cursor: pointer; cursor: hand;
	BORDER: none;
	MARGIN: 0px;
	PADDING: 0px;
	TEXT-DECORATION: none
}
A:visited {
	color: #666666;
}
A.selected {
	font-weight: bold;
	color: red;
}
A.selected:visited {
	color: red;
}

IMG {
	BORDER: none;
	MARGIN: 0px;
	PADDING: 0px;
	cursor: pointer; cursor: hand;
	HEIGHT:16;
	WIDTH:11
}
A:hover {
	COLOR: #b0b0d0
} 
A.Current {
	FONT-WEIGHT: bolder;
	BACKGROUND-COLOR: #d0e0f0
}
IFRAME {
	DISPLAY: none
}
UL {
	MARGIN: 0px;
	PADDING: 0px;
	BORDER: none;
	LIST-STYLE-TYPE: none
}
LI {
	MARGIN: 0px;
	BORDER: none;
	PADDING: 0px
}

LI UL, UL UL {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px 0px 0px 16px;
	padding-top: 0px;
}

UL.Shown {
	DISPLAY: block
} 

UL.Hidden {
	DISPLAY: none
}

DIV.loadMsg {
	BACKGROUND-COLOR: #F0FFFF;
	BORDER: black 1px solid;
	PADDING-LEFT: 4px;
}

UL#ULRoot {
	WHITE-SPACE: nowrap;
	BEHAVIOR: url('#default#saveSnapshot')
}
