{*
{if $success}
<script>
    $(window).load(function(){
        $.fn.custombox({ url: $('#success').html(), title: '',  overlay: true  });
    });
</script>

<div style="display:none;">
    <div id="success">
       <div class="bodyCustom">
            <div id="title_findprice" class="form__title">
                <b>Изменение пароля</b>
            </div>
            <div class="successChangePasw">{$success}</div>
        </div>
    </div>
</div>
{/if}
*}
<div class="konkurs-text awards">
        {if $success}<div class="sendmeagain" id='all_ok' >
                <div style="font-size: 13px;">
                  {$success}
                </div>
            </div>
        {else}
	<form action="/{#LANGUAGE_URL}action/user/changepassword/" class="center_form" method="POST">
		<input type="hidden" name="_return_path" value="/{#LANGUAGE_URL}user/changepassword/">
		<input type="hidden" name="_error_path" value="{#CURRENT_URL_FORM}">
		
                <tmpl:error>
                        <div class="action_error error" >{$name}</div>
                </tmpl:error>
                
                <div class='b-form'> 
                    <input class="wide" type="password" name="new_passwd"  value="">
                    <label >{text name="MSG_FORM_NEW_PASSWORD"}</label>
                </div>
                <div class='b-form' style='margin-top:15px'>
                    <input class="wide" type="password" name="new_passwd_confirm"  value="">
                    <label >{text name="MSG_FORM_STEP_PASSWORD"}</label>
                </div>
                <div class='b-form' style='margin-top:15px'>
                    <input class="wide" type="password" name="passwd" value="" >
                    <label >{text name="MSG_FORM_CURRENT_PASSWORD"}</label>
                </div>
                <div class='b-form sub' style='margin-top:15px'>    
                    <input class="but_color" type="submit" value="{text name='MSG_FORM_CHANGE_PASSWORD'}">
                </div>
	</form>
        {/if}
    </div>
