<!doctype html>
<html>	
    <head>
        <meta charset="utf-8">		
	<title>Авторизация</title>
	<link rel="stylesheet" href="/design/cms/delta_css/animate.css">		
	<link rel="stylesheet" href="/design/cms/delta_css/style.css">
        <link rel="stylesheet" href="/css/extras/toastr/toastr.min.css" type="text/css">

        <script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery/jquery.form.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery/jquery-ui.custom.min.js"></script>
        
        <script language="JavaScript" type="text/javascript" src="/design/cms/delta_js/script.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery/toastr.min.js"></script>
        
        <script language="JavaScript" type="text/javascript" src="/js/shared/global.js"></script>       
        
    </head>
    <body>		
    {$login_form}
    </body>
</html>